<!DOCTYPE html>

<html lang="es">
<!-- ----head ----->
<%-include('../partials/head') %>
  <!-- ----head---- -->

  <body class="admin">
    <!-- encabezado -->
    <!-- ----header ----->
    <%-include('../partials/header') %>
      <!-- ----header---- -->
      <main>
        <h2>Carga de productos</h2>
        <!--FORMULARIO-->
        <div class="administrador">
  <form method="POST" class="formulario" enctype="multipart/form-data" novalidate>
      <div class="titulo">
          <label for="title">Título del libro:</label>
          <input type="text" name="title" id="title" class="control" placeholder="Ej: El señor de los anillos" value="<%= locals.old && locals.old.title? old.title: null%>">
          <div class="error">
              <!-- Posibles errores -->
                <span 
                  ><%= locals.errores && locals.errores.title ? errores.title.msg :
                  null %></span
                >
          </div>
      </div>
    <div class="container-grid-uno">
    <div class="isbn">
      <label for="isbn">ISBN:</label>
      <div class="isbn-btn">
      <input type="number" name="isbn" id="isbn" class="grid" placeholder="10 ó 13 Dígitos" value="<%= locals.old && locals.old.isbn? old.isbn: null%>">
    </div> 
    <div class="error">
              <!-- Posibles errores -->
                <span 
                  ><%= locals.errores && locals.errores.isbn ? errores.isbn.msg :
                  null %></span
                >
          </div>
</div>
    <div class="stock">
        <label for="stock">Stock:</label>
        <input type="number" name="stock" id="stock" class="grid" placeholder="Ingrese números" value="<%= locals.old && locals.old.stock? old.stock: null%>">
    
    <div class="error">
              <!-- Posibles errores -->
                <span 
                  ><%= locals.errores && locals.errores.stock ? errores.stock.msg :
                  null %></span
                >
          </div>
          </div>
</div>
  <section class="formato">
      <label for="format">Formato:</label> 
      <select name="formats" id="format">
          <option value="" hidden selected>Seleccione el formato</option>
          <option value="1" <%= locals.old && old.formats.name === 'Libro' ? 'selected' : null%> >Libro</option>
          <option value="2" <%= locals.old && old.formats.name === 'E-book' ? 'selected' : null%> >Ebook</option>
      </select>
      <div class="error">
              <!-- Posibles errores -->
                <span 
                  ><%= locals.errores && locals.errores.formats ? errores.formats.msg :
                  null %></span
                >
          </div> 
        </section>
            <section class="categoria">
              <label for="category">Categoría:</label>
              <select name="categories" id="category">
                <option value="" hidden selected>Seleccione la categoria</option>
                <option value="3">Recomendados</option>
                <option value="2">Novedades</option>
                <option value="1">Más vendidos</option>
              </select>
              <div class="error">
                <!-- Posibles errores -->
                <span>
                  <%= locals.errores && locals.errores.categories ? errores.categories.msg : null %>
                </span>
              </div>
            </section>
            <section class="autor">
              <label for="author">Autor/Autora:</label>
              <div class="otroAutor">
                <input type="text" name="author" id="otroAutor" placeholder="Nombre y apellido del autor" class="control"
                  value="<%= locals.old && locals.old.author? old.author: null%>">
              </div>
              <div class="error">
                <!-- Posibles errores -->
                <span>
                  <%= locals.errores && locals.errores.author ? errores.author.msg : null %>
                </span>
              </div>
            </section>
            <section class="editorial">
              <label for="editorial">Editorial:</label>
              <div class="otraEditorial">
                <input type="text" name="editorial" id="OtraEditorial" placeholder="Ej: Planeta" class="control"
                  value="<%= locals.old && locals.old.editorial? old.editorial: null%>">
              
              <div class="error">
                <!-- Posibles errores -->
                <span>
                  <%= locals.errores && locals.errores.editorial ? errores.editorial.msg : null %>
                </span>
              </div>
              </div>
            </section>
            <section class="genero">
              <label for="genre">Género</label>
              <div class="otroGenero">
                <input type="text" name="genre" id="otroGenero" placeholder="Ej: Fantasía" class="control"
                  value="<%= locals.old && locals.old.genre? old.genre: null%>">
              </div>
              <div class="error">
                <!-- Posibles errores -->
                <span>
                  <%= locals.errores && locals.errores.genre ? errores.genre.msg : null %>
                </span>
              </div>
            </section>
            <div class="container-grid">
              <div class="precio">
                <label for="price">Precio $:</label>
                <input type="number" name="price" id="price" class="con-grid" placeholder="Sólo números"
                  value="<%= locals.old && locals.old.price? old.price: null%>">
                <div class="error">
                  <!-- Posibles errores -->
                  <span>
                    <%= locals.errores && locals.errores.price ? errores.price.msg : null %>
                  </span>
                </div>
              </div>
              <div class="paginas">
                <label for="pages">Páginas:</label>
                <input type="number" name="pages" id="pages" class="con-grid" placeholder="Sólo números"
                  value="<%= locals.old && locals.old.pages? old.pages: null%>">
                <div class="error">
                  <!-- Posibles errores -->
                  <span>
                    <%= locals.errores && locals.errores.pages ? errores.pages.msg : null %>
                  </span>
                </div>
              </div>
              <div class="estrellas">
                <label for="stars">Estrellas:</label>
                <input type="text" name="stars" id="stars" class="con-grid" placeholder="N° de estrellas"
                  value="<%= locals.old && locals.old.stars ? old.stars : null%>">
                <div class="error">
                  <!-- Posibles errores -->
                  <span>
                    <%= locals.errores && locals.errores.stars ? errores.stars.msg : null %>
                  </span>
                </div>
              </div>
            </div>
            <div class="sinopsis">
              <label for="slogan">Crítica:</label>
              <textarea type="text" name="slogan" id="slogan"
                placeholder="Breve critica"><%= locals.old && locals.old.slogan ? old.slogan: null%></textarea>
              <div class="error">
                <!-- Posibles errores -->
                <span>
                  <%= locals.errores && locals.errores.slogan ? errores.slogan.msg : null %>
                </span>
              </div>
            </div>
            <div class="portada">
              <label for="cover">Imagen de portada:</label>
              <input class="file" type="file" name="cover" id="cover">
              <div class="error">
                <span>
                  <%= locals.errores && errores.cover ? errores.cover.msg : null %>
                </span>
              </div>
            </div>

            <div class="sinopsis">
              <label for="synopsis">Sinopsis:</label>
              <textarea type="text" name="synopsis" id="synopsis" placeholder="Breve sinopsis" cols="30"
                rows="10"><%= locals.old && locals.old.synopsis ? old.synopsis: null%></textarea>
              <div class="error">
                <!-- Posibles errores -->
                <span>
                  <%= locals.errores && locals.errores.synopsis ? errores.synopsis.msg : null %>
                </span>
              </div>
            </div>
            <p>*Todos los campos son obligatorios</p>
            <!--BOTONES-->
            <section class="botones d-grid gap-2 d-md-block">
              <button type="submit" class="btn-guardar">AGREGAR</button>
              <a href="/products/administrador" class="btn-cancelar" type="button">CANCELAR</a>
            </section>
          </form>
        </div>
      </main>
      <!-- ----scripts ----->
      <%-include('../partials/scripts') %>
        <!-- ----scripts---- -->
  </body>

</html>