<!DOCTYPE html>
<html lang="es">
<!-- ----head ----->
<%-include('../partials/head') %>
  <!-- ----head---- -->

  <body class="novedades admin">
    <!-- encabezado -->
    <!-- ----header ----->
    <%-include('../partials/header') %>
      <!-- ----header---- -->
      <main>
        <div class="card mt-5">
          <div class="card-header">
            <h3>Agregar método de pago:</h3>
          </div>
          <div class="card-body administrador">
            <form action="" method="POST" class="formulario" novalidate>
              <label for="genero">Género:</label>
              <input type="text" name="name" id="genero"
                value="<%= locals.old &&locals.old.name ? old.name : null %> " />
              <div class="error">
                <!-- Posibles errores -->
                <span>
                  <%= locals.errores && locals.errores.name ? errores.name.msg :null %>
                </span>
              </div>
              <!--BOTONES-->
              <section class="botones d-grid gap-2 d-md-block">
                <button type="submit" class="btn-guardar">AGREGAR</button>
                <a href="/products/listadoMetodosPago" class="btn-cancelar" type="button">CANCELAR</a>
              </section>
            </form>
          </div>
        </div>
      </main>
  </body>
<!-- ----scripts ----->
<%-include('../partials/scripts') %>
  <!-- ----scripts---- -->
</html>