<!DOCTYPE html>
<html lang="es">

  <!-- ----head ----->
  <%-include('../partials/head') %> 
  <!-- ----head---- -->
  <body class="novedades admin">
      <!-- encabezado -->
    <!-- ----header ----->
   <%-include('../partials/header-admin') %> 
   <!-- ----header---- -->
  <main>

    <h2>Lista de productos</h2>
    
    <div class=contenedorNovedades>
      <% productos.forEach(producto=>{ %> 
    <article class="libro">
        <a href="/products/detalle"
          ><img src="/images/<%= producto.portada %>  " alt="LEAF | Portada del libro"
        /></a>
        <div class="detalle">
          <h3> <%= producto.titulo %>  </h3>
          <h4> <%= producto.autor %>  </h4>
          <p>$ <%= producto.precio %>  </p>
        </div>
        <!-- Botones para administrador -->
        <div class="container">
        <div class="row align-items-start">   
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-danger">BORRAR</button>
            <a href="/products/editar" type="button" class="btn btn-warning">EDITAR</a>
                <a href="/products/agregar" type="button" class="btn btn-success">AGREGAR</a>
          </div>
        </div> 
        </div>
      </article>
      <% }) %>
    </div>
</main>

</body>
<!-- ----scripts ----->
<%-include('../partials/scripts') %> 
<!-- ----scripts---- -->
</html>