<!DOCTYPE html>
<html lang="es">

<!-- ----head ----->
<%-include('../partials/head') %>
  <!-- ----head---- -->

  <body class="novedades admin">
    <!-- encabezado -->
    <!-- ----header ----->
    <%-include('../partials/header') %>
      <!-- ----header---- -->
      <main>
        <div class="d-flex justify-content-center mx-3">
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a href="/products/agregar" id="arriba" class="btn btn-outline-success admin-btn-agregar btn-group-admin" type="button">AGREGAR
              PRODUCTOS</a>
          <div class="btn-group" role="group">
            <a type="button" class="btn btn-outline-secondary dropdown-toggle admin-btn-agregar btn-group-admin" data-bs-toggle="dropdown" aria-expanded="false">
            VER MÁS LISTADOS
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/products/listadoAutores">Listado de autores/as</a></li>
              <li><a class="dropdown-item" href="/products/listadoEditorial">Listado de editoriales</a></li>
              <li><a class="dropdown-item" href="/products/listadoGeneros">Listado de géneros</a></li>
              <li><a class="dropdown-item" href="/products/listadoMetodosPago">Listado de métodos de pago</a></li>
              <li><a class="dropdown-item" href="/users/listadoUsuarios">Listado de Usuarios</a></li>
              <li><a class="dropdown-item" href="/products/agregarCarrusel">Imagen para carrusel</a></li>
              <li><a class="dropdown-item" href="/products/listadoPublicidad">Imagen para publicidad</a></li>
            </ul>
          </div>
          </div>
        </div>

        <h2>LISTADO DE PRODUCTOS</h2>
        
        <div class="admin-dcha">
          <a href="#abajo" class="admin-btn-flotante admin-btn-agregar"><i class="fas fa-chevron-down"></i> </a>
        </div>
        <div class='contenedorNovedades'>
          <% productos.forEach(producto=>{ %>
            <article class="libro libros-<%=producto.genero.name%> admin-card">
              <a href="/products/detalle/<%=producto.id%>"><img src="/images/<%= producto.cover %>  "
                  alt="LEAF | Portada del libro" /></a>
              <div class="detalle">
                <h4>
                  <%= producto.title %>
                </h4>
                <h4>
                  <%= producto.author %>
                </h4>
                <% if (producto.price == 0) { %>
                  <p>LIBRO GRATIS ($ <%= producto.price %>) </p>
                  <p>Stock: Disponible</p>
                <% } else { %>
                
                  <p>$ <%= producto.price %></p>
                    <p>Stock:  <%= producto.stock %></p>
                <% } %>
              </div>
              <!-- Botones para administrador -->
              <div class="container">
                <div class="container">
                  <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST" id="form-eliminar-admin">
                    <div class="d-grid gap-2 col-6 mx-auto">
                      <a href="/products/editar/<%= producto.id %> " type="button"
                        class="admin-btn-editar btn btn-outline-warning">EDITAR</a>
                      <button class="btn btn-outline-danger admin-btn-eliminar" id="bntEliminarAdmin" type="submit" onclick="return confirm('¿Estás seguro? Esta acción no se puede deshacer')">ELIMINAR</button>
                  </form>
                </div>
              </div>
            </article>
            <% }) %>
        </div>
        <div class="admin-dcha">
          <a href="#arriba" id="abajo" class="admin-btn-flotante admin-btn-agregar"><i
              class="fas fa-chevron-up"></i></a>
        </div>
      </main>

  </body>
  <!-- ----scripts ----->
  <%-include('../partials/scripts') %>
    <!-- ----scripts---- -->

</html>