<!DOCTYPE html>
<html lang="es">

<!-- ----head ----->
<%-include('../partials/head') %>
  <!-- ----head---- -->

  <body class="novedades admin">
    <!-- encabezado -->
    <!-- ----header ----->
    <%-include('../partials/header') %>
      <!-- ----header---- -->
      <main>

        <h2>Lista de productos</h2>
        <div class="d-grid gap-3">
          <a href="/products/agregar" id="arriba" class="btn btn-outline-success admin-btn-agregar"
            type="button">AGREGAR PRODUCTOS</a>
        </div>
        <!-- enlace a crud de carrusel de imagenes home -->
        <div class="d-grid gap-3">
          <a href="/products/carrusel" id="arriba" class="btn btn-outline-success admin-btn-agregar"
            type="button">Carrusel de home</a>
        </div>
        <div class="admin-dcha">
          <a href="#abajo" class="admin-btn-flotante admin-btn-agregar"><i class="fas fa-chevron-down"></i> </a>
        </div>
        <div class='contenedorNovedades'>
          <% productos.forEach(producto=>{ %>
            <article class="libro">
              <a href="/products/detalle/<%=producto.id%>"><img src="/images/<%= producto.cover %>  "
                  alt="LEAF | Portada del libro" /></a>
              <div class="detalle">
                <h3>
                  <%= producto.title %>
                </h3>
                <h4>
                  <%= producto.author %>
                </h4>
                <p>$ <%= producto.price %>
                </p>
              </div>
              <!-- Botones para administrador -->
              <div class="container">
                <div class="container">
                  <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST">
                    <div class="d-grid gap-2 col-6 mx-auto">
                      <a href="/products/editar/<%= producto.id %> " type="button"
                        class="admin-btn-editar btn btn-warning">EDITAR</a>
                      <button class="btn btn-danger admin-btn-eliminar">ELIMINAR</button>
                  </form>
                </div>
              </div>
            </article>
            <% }) %>
        </div>
        <div class="admin-dcha">
          <a href="#arriba" id="abajo" class="admin-btn-flotante admin-btn-agregar"><i
              class="fas fa-chevron-up"></i></a>
        </div>
      </main>

  </body>
  <!-- ----scripts ----->
  <%-include('../partials/scripts') %>
    <!-- ----scripts---- -->

</html>