<!DOCTYPE html>
<html lang="es">

  <!-- ----head ----->
  <%-include('../partials/head') %> 
  <!-- ----head---- -->
  <body class="novedades admin">
      <!-- encabezado -->
    <!-- ----header ----->
   <%-include('../partials/header') %> 
   <!-- ----header---- -->
  <main>

    <h2>Lista de productos</h2>
    <div class="d-grid gap-2">
      <a href="/products/agregar" class="btn btn-outline-success btn-agregar" type="button">AGREGAR PRODUCTOS</a>
    </div>
    
    <div class='contenedorNovedades'>
      <% productos.forEach(producto=>{ %> 
    <article class="libro">
        <a href="/products/detalle/<%=producto.id%>"
          ><img src="/images/<%= producto.portada %>  " alt="LEAF | Portada del libro"
        /></a>
        <div class="detalle">
          <h3> <%= producto.titulo %>  </h3>
          <h4> <%= producto.autor %>  </h4>
          <p>$ <%= producto.precio %>  </p>
        </div>
        <!-- Botones para administrador -->
        <div class="container">
        <div class="container">
          <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST">
          <div class="d-grid gap-2 col-6 mx-auto">
            <a href="/products/editar/<%= producto.id %> " type="button" class="btn btn-warning">EDITAR</a>
              <button class="btn btn-danger ">ELIMINAR</button>
          </form>
          </div>
        </div> 
      </article>
      <% }) %>
    </div>
</main>

</body>
<!-- ----scripts ----->
<%-include('../partials/scripts') %> 
<!-- ----scripts---- -->
</html>