
<html lang="es">
    <!-- ----head ----->
    <%-include('../partials/head') %>
      <!-- ----head---- -->
      <body class="admin">
        <!-- encabezado -->
        <!-- ----header ----->
        <%-include('../partials/header') %>
          <!-- ----header---- -->
        
          <main class="mainIndex carruselEjs">

            <div class="card mt-5 ">
              <div class="card-header">
                  <h3>Agregar imagen para carrusel:</h3>
              </div>
              <div class="card-body administrador">
                  <form action="" method="POST" class="formulario" enctype="multipart/form-data" >
                      <label for="carouselImage">Imagen:</label>
                      <input type="file" name="carouselImage" id="carouselImage" value="<%= locals.old &&locals.old.carouselImage ? old.carouselImage : null %> ">
                      <!-- Posibles errores -->
                      <span>
                          <%= locals.errores && locals.errores.carouselImage ?errores.carouselImage.msg :null %>
                      </span>
                      <!--BOTONES-->
                      <section class="botones d-grid gap-2 d-md-block">
                          <button type="submit" class="btn-guardar">AGREGAR</button>
                          <a href="/products/administrador" class="btn-cancelar" type="button">CANCELAR</a>
                      </section>

                  </form>
              </div>

          </div>

            <!-- CARROUSEL -->
            <h2>Editar imagenes del carrusel</h2>
            <p class="fw-light fs-6">(usa los botones que contiene cada imagen)</p>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                  <% imagesCarousel.forEach(image => { %>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= image.id - 1 %> "
                  aria-label="Slide <%= image.id + 1 %>"></button>
                  <% }) %>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/images/<%= primerImage.name %>" class="d-block w-100 " alt="..." />
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <a href=" /products/carruselEditar/<%= primerImage.id %> " type="button"
                      class="admin-btn-editar btn btn-warning">EDITAR</a>
                    <button class="btn btn-danger admin-btn-eliminar">ELIMINAR</button>
              </div>
              
                </div>
                <% imagesCarousel.forEach(image=> { %>
                  <% if (image.id != 1) { %>
                    <div class="carousel-item">
                      <img src="/images/<%= image.name %>" class="d-block w-100 " alt="..." />
                      <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="/products/carruselEditar/<%= image.id %> " type="button"
                          class="admin-btn-editar btn btn-warning">EDITAR</a>
                        <button class="btn btn-danger admin-btn-eliminar">ELIMINAR</button>
                  </div>
                    </div>
                  <% } %>
                 
                <% }) %>
               
               
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev" >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next" >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              
            </div>
           
         
          </main>
              <!-- ----scripts ----->
      <%-include('../partials/scripts') %>
      <!-- ----scripts---- -->
</body>

</html>