<!DOCTYPE html>
<html lang="es">
  <!-- ----head ----->
<%-include('../partials/head') %> 
<!-- ----head---- -->

  <body class="admin">
    <!-- encabezado -->
   <!-- ----header ----->
   <%-include('../partials/header') %>
   <!-- ----header---- -->
    <main>
        <h2>Edición de <%= productEdit.titulo %> </h2>
        <!--FORMULARIO-->
        <div class="administrador">
  <form action="/products/editar/<%=productEdit.id%>?_method=PUT" method="POST" class="formulario">
      <div class="titulo">
          <label for="titulo">Título del libro:</label>
          <input type="text" name="titulo" id="titulo" class="control" placeholder="Ej: El señor de los anillos" value="<%= productEdit.titulo %> ">
      </div>
    </section>
    <div class="container-grid-uno">
    <div class="isbn">
      <label for="isbn">ISBN:</label>
      <div class="isbn-btn">
      <input type="number" name="isbn" id="isbn" class="grid" placeholder="10 ó 13 Dígitos" value="<%= productEdit.isbn %>">
    </div> 
</div>

    <div class="stock">
        <label for="stock">Stock:</label>
        <input type="number" name="stock" id="stock" class="grid" placeholder="Ingrese números" value="<%= productEdit.stock %>">
    </div>
    </div>
   <section class="categoria">
       <label for="formato">Formato:</label> 
       <select name="formato" id="formato">
           <option value="libro"<%= productEdit.formato==="libro"?'selected':null %>>Libro</option>
           <option value="ebook"<%= productEdit.formato==="E-book"?'selected':null %>>Ebook</option>
       </select>
         </section>
         <section class="categoria">
          <label for="categoria">Categoría:</label> 
          <select name="categoria" id="categoria">
              <option value="recomendados"<%= productEdit.categoria==="recomendados"?'selected':null %>>Recomendados</option>
              <option value="novedades"<%= productEdit.categoria==="novedades"?'selected':null %>>Novedades</option>
              <option value="mas-vendidos"<%= productEdit.categoria==="Mas vendidos"?'selected':null %>>Más vendidos</option>
          </select>
            </section>
   <section class="autor">
        <label for="autor">Autor/Autora:</label>
    <input type="text" name="autor" value="<%= productEdit.autor %>">
    </section>
<section class="editorial">
    <label for="editorial">Editorial:</label>
    <input type="text" name="editorial" value="<%= productEdit.editorial %>">
</section>
<section class="genero">
    <label for="genero">Género</label>
    <input type="text" name="genero" value="<%= productEdit.genero %>">
</section>
<div class="container-grid">
<div class="precio">
    <label for="precio">Precio $:</label>
    <input type="number" name="precio" id="precio" class="con-grid" placeholder="Ingrese sólo números" value="<%= productEdit.precio %>">
</div>
<div class="paginas">
    <label for="paginas">Páginas:</label>
    <input type="number" name="paginas" id="paginas" class="con-grid" placeholder="Sólo números" value="<%= productEdit.paginas %>">
</div>
<div class="estrellas">
  <label for="estrellas">Estrellas:</label>
  <input type="text" name="estrellas" id="estrellas" class="con-grid"placeholder="N° de estrellas" value="<%= productEdit.estrellas %>">
</div>
</div>
<div class="sinopsis">
  <label for="critica">Crítica:</label>
  <textarea name="slogan" id="critica" cols="20" rows="2" placeholder="Breve critica"><%= productEdit.slogan %>
    </textarea>
</div>

<div class="portada">
  <label for="portada">Imagen de portada:</label>
  <input  class="file" type="file" name="portada" id="portada" >
  </div>
<div class="sinopsis">
     <label for="sinopsis">Sinopsis:</label>
     <textarea name="sinopsis" id="sinopsis" cols="20" rows="10" placeholder="Sinopsis del libro" ><%= productEdit.sinopsis %>
    </textarea>
</div>
<p>*Todos los campos son obligatorios</p>
<!--BOTONES-->
<section class="botones d-grid gap-2 d-md-block">
  <button type="submit" class="btn-guardar">GUARDAR EDICIÓN</button>
  <a href="/products/administrador" class="btn-cancelar" type="button">CANCELAR EDICIÓN</a>
</section>
  </form>  
</div>
    </main>
    <!-- ----scripts ----->
 <%-include('../partials/scripts') %> 
 <!-- ----scripts---- -->
</body>
</html>