<!DOCTYPE html>
<html lang="es">
  <!-- ----head ----->
<%-include('../partials/head') %> 
<!-- ----head---- -->

  <body class="admin">
    <!-- encabezado -->
  <!-- ----header ----->
  <%-include('../partials/header') %>
  <!-- ----header---- -->
    <main>
        <h2>Edición de <%= productEdit.title %> </h2>
        <!--FORMULARIO-->
<div class="administrador">
  <form action="/products/editar/<%=productEdit.id%>?_method=PUT" method="POST" class="formulario" enctype="multipart/form-data">
      <div class="titulo">
          <label for="title">Título del libro:</label>
          <input type="text" name="title" id="title" class="control" placeholder="Ej: El señor de los anillos" value="<%= locals.old && locals.old.title ? old.title : productEdit.title %> ">
        <div class="error">
              <!-- Posibles errores -->
                <span><%= !productEdit.title || locals.errores && locals.errores.title ? errores.title.msg :
                  null %></span>
          </div>  
      </div>
    <div class="container-grid-uno">
    <div class="isbn">
      <label for="isbn">ISBN:</label>
      <div class="isbn-btn">
      <input type="number" name="isbn" id="isbn" class="grid" placeholder="10 ó 13 Dígitos" value="<%= locals.old && locals.old.isbn? old.isbn: productEdit.isbn %>">
    </div> 
    <div class="error">
              <!-- Posibles errores -->
                <span 
                  ><%= !productEdit.isbn || locals.errores && locals.errores.isbn ? errores.isbn.msg :
                  null %></span
                >
          </div>
</div>

    <div class="stock">
        <label for="stock">Stock:</label>
        <input type="number" name="stock" id="stock" class="grid" placeholder="Ingrese números" value="<%= locals.old && locals.old.stock? old.stock : productEdit.stock %>">
    <div class="error">
              <!-- Posibles errores -->
                <span 
                  ><%= !productEdit.stock ||locals.errores && locals.errores.stock ? errores.stock.msg :
                  null %></span>
    </div>
    </div>
    </div>
  <section class="category">
      <label for="format">Formato:</label> 
      <select name="formats" id="format">
          <option value="1"<%= productEdit.formato.name==="Libro"?'selected':null %> <%= locals.old && old.formato.name === 'Libro' ? 'selected' : null%> >Libro</option>
          <option value="2"<%= productEdit.formato.name==="E-book"?'selected':null %> <%= locals.old && old.formato.name === 'E-book' ? 'selected' : null%> >Ebook</option>
      </select>
      <div class="error">
              <!-- Posibles errores -->
                <span 
                  ><%= !productEdit.formato ||locals.errores && locals.errores.formato ? errores.formato.msg :
                  null %></span
                >
          </div>
        </section>
        <section class="category">
          <label for="category">Categoría:</label> 
          <select name="category" id="category">
              <option value="3"<%= productEdit.categoria.name ==="recomendados"?'selected':null %> <%= locals.old && locals.old.categoria.name === 'recomendados' ? 'selected' : null%> > Recomendados</option>
              <option value="novedades" <%= productEdit.categoria==="2"?'selected':null %> <%= locals.old && locals.old.categoria.name === 'novedades' ? 'selected' : null%> >Novedades</option>
              <option value="1"<%= productEdit.categoria.name==="mas-vendidos" ?'selected':null %> <%= locals.old && locals.old.categoria.name === 'mas-vendidos' ? 'selected' : null%> >Más vendidos</option>
          </select>
          <div class="error">
              <!-- Posibles errores -->
                <span 
                  ><%= !productEdit.categoria || locals.errores && locals.errores.categoria ? errores.categoria.msg :
                  null %></span
                >
          </div>
            </section>
  <section class="author">
        <label for="author">Autor/Autora:</label>
    <input type="text" name="author" value="<%= locals.old && locals.old.autor.nameLastname? old.autor.nameLastname: productEdit.autor.nameLastname %>">
    <div class="error">
              <!-- Posibles errores -->
                <span 
                  ><%= !productEdit.autor || locals.errores && locals.errores.autor ? errores.autor.msg :
                  null %></span
                >
          </div>
    </section>
<section class="editorial">
    <label for="editorial">Editorial:</label>
    <input type="text" name="editorial" value="<%= locals.old && locals.old.editorial.name? old.editorial.name:productEdit.editorial.name %>">
    <div class="error">
              <!-- Posibles errores -->
                <span 
                  ><%= !productEdit.editorial|| locals.errores && locals.errores.editorial ? errores.editorial.msg :
                  null %></span
                >
          </div>
</section>
<section class="genre">
    <label for="genre">Género</label>
    <input type="text" name="genre" value="<%= locals.old && locals.old.genero.name? old.genero.name:productEdit.genero.name %>">
    <div class="error">
            <!-- Posibles errores -->
                <span><%= !productEdit.genero || locals.errores && locals.errores.genero ? errores.genero.msg :
                null %></span>
        </div>
</section>
<div class="container-grid">
<div class="price">
    <label for="price">Precio $:</label>
    <input type="number" name="price" id="price" class="con-grid" placeholder="Ingrese sólo números" value="<%= locals.old && locals.old.price? old.price: productEdit.price %>">
    <div class="error">
              <!-- Posibles errores -->
                <span><%= !productEdit.price ||locals.errores && locals.errores.price ? errores.price.msg :
                  null %></span>
          </div>
</div>
<div class="pages">
    <label for="pages">Páginas:</label>
    <input type="number" name="pages" id="pages" class="con-grid" placeholder="Sólo números" value="<%= locals.old && locals.old.pages? old.pages:productEdit.pages %>">
     <div class="error">
              <!-- Posibles errores -->
                <span><%= !productEdit.pages ||locals.errores && locals.errores.pages ? errores.pages.msg :
                  null %></span>
          </div>
</div>
<div class="stars">
  <label for="stars">Estrellas:</label>
  <input type="text" name="stars" id="stars" class="con-grid"placeholder="N° de stars" value="<%= locals.old && locals.old.estrella.quantity? old.estrella.quantity: productEdit.estrella.quantity %>">
   <div class="error">
              <!-- Posibles errores -->
                <span><%= locals.errores && locals.errores.estrella ? errores.estrella.msg :
                  null %></span>
          </div>
</div>
</div>
<div class="synopsis">
  <label for="slogan">Crítica:</label>
<textarea name="slogan" id="slogan" cols="20" rows="2"placeholder="Breve critica"><%=locals.old ? locals.old.slogan : productEdit.slogan  %>
  </textarea>
  <div class="error">
    <span> <%= productEdit.slogan.length <=5 || locals.errores && locals.errores.slogan ? errores.slogan.msg : null %> </span>

          </div>
</div>

<div class="cover">
  <label for="cover">Imagen de portada:</label>
  <input  class="file form-control" type="file" name="cover" id="cover" >
   <div class="error">
<span ><%= locals.errores && errores.cover ? errores.cover.msg : null %></span>
</div>
  </div>
  <div class="synopsis">
  <label for="synopsis">Sinopsis:</label>
  <textarea  type="text" name="synopsis" id="synopsis" placeholder="Breve sinopsis" cols="30" rows="10"><%= locals.old && locals.old.synopsis ? old.synopsis : productEdit.synopsis  %></textarea>
  <div class="error">
        <!-- Posibles errores -->

    <span><%= productEdit.synopsis.length ==0 || locals.errores && locals.errores.synopsis ? errores.synopsis.msg : null %></span>
  </div>
  </div>
<p>*Todos los campos son obligatorios</p>
<!--BOTONES-->
<section class="botones d-grid gap-2 d-md-block">
  <button type="submit" class="btn-guardar">GUARDAR EDICIÓN</button>
  <a href="/products/administrador" class="btn-cancelar" type="button">CANCELAR EDICIÓN</a>
</section>
  </form>  
</div>
    </main>
    <!-- ----scripts ----->
<%-include('../partials/scripts') %> 
<!-- ----scripts---- -->
</body>
</html>