<!DOCTYPE html>
<html lang="es">
  <!-- ----head ----->
<%-include('../partials/head') %> 
<!-- ----head---- -->

  <body class="admin">
    <!-- encabezado -->
  <!-- ----header ----->
  <%-include('../partials/header') %>
  <!-- ----header---- -->
    <main>
        <h2>Edición de <%= productEdit.titulo %> </h2>
        <!--FORMULARIO-->
<div class="administrador">
  <form action="/products/editar/<%=productEdit.id%>?_method=PUT" method="POST" class="formulario" enctype="multipart/form-data">
      <div class="titulo">
          <label for="titulo">Título del libro:</label>
          <input type="text" name="titulo" id="titulo" class="control" placeholder="Ej: El señor de los anillos" value="<%= locals.old && locals.old.titulo ? old.titulo : productEdit.titulo %> ">
        <div class="error">
              <!-- Posibles errores -->
                <span><%= !productEdit.titulo || locals.errores && locals.errores.titulo ? errores.titulo.msg :
                  null %></span>
          </div>  
      </div>
    <div class="container-grid-uno">
    <div class="isbn">
      <label for="isbn">ISBN:</label>
      <div class="isbn-btn">
      <input type="number" name="isbn" id="isbn" class="grid" placeholder="10 ó 13 Dígitos" value="<%= locals.old && locals.old.isbn? old.isbn: productEdit.isbn %>">
    </div> 
    <div class="error">
              <!-- Posibles errores -->
                <span 
                  ><%= !productEdit.isbn || locals.errores && locals.errores.isbn ? errores.isbn.msg :
                  null %></span
                >
          </div>
</div>

    <div class="stock">
        <label for="stock">Stock:</label>
        <input type="number" name="stock" id="stock" class="grid" placeholder="Ingrese números" value="<%= locals.old && locals.old.stock? old.stock : productEdit.stock %>">
    <div class="error">
              <!-- Posibles errores -->
                <span 
                  ><%= !productEdit.stock ||locals.errores && locals.errores.stock ? errores.stock.msg :
                  null %></span
                >
    </div>
    </div>
    </div>
  <section class="categoria">
      <label for="formato">Formato:</label> 
      <select name="formato" id="formato">
          <option value="libro"<%= productEdit.formato==="libro"?'selected':null %> >Libro</option>
          <option value="ebook"<%= productEdit.formato==="E-book"?'selected':null %> >Ebook</option>
      </select>
      <div class="error">
              <!-- Posibles errores -->
                <span 
                  ><%= !productEdit.formato ||locals.errores && locals.errores.formato ? errores.formato.msg :
                  null %></span
                >
          </div>
        </section>
        <section class="categoria">
          <label for="categoria">Categoría:</label> 
          <select name="categoria" id="categoria">
              <option value="recomendados"<%= productEdit.categoria==="recomendados"?'selected':null %> >Recomendados</option>
              <option value="novedades"<%= productEdit.categoria==="novedades"?'selected':null %> >Novedades</option>
              <option value="mas-vendidos"<%= productEdit.categoria==="Mas vendidos"?'selected':null %> >Más vendidos</option>
          </select>
          <div class="error">
              <!-- Posibles errores -->
                <span 
                  ><%= !productEdit.categoria || locals.errores && locals.errores.categoria ? errores.categoria.msg :
                  null %></span
                >
          </div>
            </section>
  <section class="autor">
        <label for="autor">Autor/Autora:</label>
    <input type="text" name="autor" value="<%= locals.old && locals.old.autor? old.autor: productEdit.autor %>">
    <div class="error">
              <!-- Posibles errores -->
                <span 
                  ><%= !productEdit.autor || locals.errores && locals.errores.autor ? errores.autor.msg :
                  null %></span
                >
          </div>
    </section>
<section class="editorial">
    <label for="editorial">Editorial:</label>
    <input type="text" name="editorial" value="<%= locals.old && locals.old.editorial? old.editorial:productEdit.editorial %>">
    <div class="error">
              <!-- Posibles errores -->
                <span 
                  ><%= !productEdit.editorial|| locals.errores && locals.errores.editorial ? errores.editorial.msg :
                  null %></span
                >
          </div>
</section>
<section class="genero">
    <label for="genero">Género</label>
    <input type="text" name="genero" value="<%= locals.old && locals.old.genero? old.genero:productEdit.genero %>">
    <div class="error">
            <!-- Posibles errores -->
                <span><%= !productEdit.genero || locals.errores && locals.errores.genero ? errores.genero.msg :
                null %></span>
        </div>
</section>
<div class="container-grid">
<div class="precio">
    <label for="precio">Precio $:</label>
    <input type="number" name="precio" id="precio" class="con-grid" placeholder="Ingrese sólo números" value="<%= locals.old && locals.old.precio? old.precio: productEdit.precio %>">
    <div class="error">
              <!-- Posibles errores -->
                <span><%= !productEdit.precio ||locals.errores && locals.errores.precio ? errores.precio.msg :
                  null %></span>
          </div>
</div>
<div class="paginas">
    <label for="paginas">Páginas:</label>
    <input type="number" name="paginas" id="paginas" class="con-grid" placeholder="Sólo números" value="<%= locals.old && locals.old.paginas? old.paginas:productEdit.paginas %>">
     <div class="error">
              <!-- Posibles errores -->
                <span><%= !productEdit.paginas ||locals.errores && locals.errores.paginas ? errores.paginas.msg :
                  null %></span>
          </div>
</div>
<div class="estrellas">
  <label for="estrellas">Estrellas:</label>
  <input type="text" name="estrellas" id="estrellas" class="con-grid"placeholder="N° de estrellas" value="<%= locals.old && locals.old.estrellas? old.estrellas: productEdit.estrellas %>">
   <div class="error">
              <!-- Posibles errores -->
                <span 
                  ><%= !productEdit.estrellas || locals.errores && locals.errores.estrellas ? errores.estrellas.msg :
                  null %></span
                >
          </div>
</div>
</div>
<div class="sinopsis">
  <label for="critica">Crítica:</label>
  <textarea name="slogan" id="critica" cols="20" rows="2" placeholder="Breve critica"><%=locals.old ? old.slogan :  productEdit.slogan  %>
    </textarea>
    <div class="error">
      <% if (!productEdit.slogan || locals.errores && errores.slogan) { %>
           <span>  <%=errores.slogan.msg %> </span>
          <% } %>
          </div>
</div>

<div class="portada">
  <label for="portada">Imagen de portada:</label>
  <input  class="file form-control" type="file" name="portada" id="portada" >
   <div class="error">
<span ><%= locals.errores && errores.portada ? errores.portada.msg : null %></span>
</div>
  </div>
  <div class="sinopsis">
  <label for="sinopsis">Sinopsis:</label>
  <textarea  type="text" name="sinopsis" id="sinopsis" placeholder="Breve sinopsis" cols="30" rows="10"><%= locals.old && locals.old.sinopsis ? old.sinopsis : productEdit.sinopsis  %></textarea>
  <div class="error">
        <!-- Posibles errores -->

    <span><%= productEdit.sinopsis.length ==0 || locals.errores && locals.errores.sinopsis ? errores.sinopsis.msg : null %></span>
  </div>
<p>*Todos los campos son obligatorios</p>
<!--BOTONES-->
<section class="botones d-grid gap-2 d-md-block">
  <button type="submit" class="btn-guardar">GUARDAR EDICIÓN</button>
  <a href="/products/administrador" class="btn-cancelar" type="button">CANCELAR EDICIÓN</a>
</section>
  </form>  
</div>
    </main>
    <!-- ----scripts ----->
<%-include('../partials/scripts') %> 
<!-- ----scripts---- -->
</body>
</html>