<!DOCTYPE html>
<html lang="es">
<!-- ----head ----->
<%-include('../partials/head') %>
    <!-- ----head---- -->

    <body class="novedades">
        <!-- ----header ----->
        <%-include('../partials/header') %>
            <!-- ----header---- -->
            <main>
            <h1 class="titulo-generos">
                <%=title%>
            </h1>
            <section class="contenedorNovedades">
              <!-- Tarjeta -->
              <!-- 1 -->
              <div class="card" style="width: 18rem;">
                <img src="/images/el_mundo_perdido.jpg" class="card-img-top" alt="El mundo perdido">
                <div class="card-body">
                  <h5 class="card-title">El mundo pérdido</h5>
                  <h6>Arthur Conan Doyle</h6>
                  <p class="card-text">La novela fundacional del género de los dinosaurios creada en 1912 por el padre de Sherlock Holmes.</p>
                  <a href="/librosDescarga/el_mundo_perdido.pdf" type="button" class="btn-descarga" download="El mundo perdido">DESCARGAR PDF</a>
              
                  <!-- Vertically centered modal -->
                  <!-- Button trigger modal -->
                  <button type="button" class="btn-descarga" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    QR DE DESCARGA
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Escanear para descargar</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <img src="/librosDescarga/qr_el_mundo_perdido.png" alt="El mundo perdido_QR">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 2 -->
              <div class="card" style="width: 18rem;">
                <img src="/images/dracula.jpg" class="card-img-top" alt="El mundo perdido">
                <div class="card-body">
                  <h5 class="card-title">Drácula</h5>
                  <h6>Bram Stoker</h6>
                  <p class="card-text">Antes de ser elevada por el cine y por innumerables series de novelas a uno de los puestos privilegiados del imaginario
                  actual, la leyenda del vampiro alcanzó un gran reconocimiento en este clásico de la literatura de terror.</p>
                  <a href="/librosDescarga/dracula.pdf" type="button" class="btn-descarga" download="Drácula">DESCARGAR PDF</a>
              
                  <!-- Vertically centered modal -->
                  <!-- Button trigger modal -->
                  <button type="button" class="btn-descarga" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    QR DE DESCARGA
                  </button>
              
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Escanear para descargar</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <img src="/librosDescarga/qr_el_mundo_perdido.png" alt="El mundo perdido_QR">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 3 -->
              <div class="card" style="width: 18rem;">
                <img src="/images/la_dama_de_las_camelias.jpg" class="card-img-top" alt="El mundo perdido">
                <div class="card-body">
                  <h5 class="card-title">La dama de las camelias</h5>
                  <h6>Alexandre Dumas</h6>
                  <p class="card-text">Armand Duval, respetable joven de familia burguesa, se enamora de la cortesana Marguerite Gautier, bella y trágica. No
                  obstante, los convencionalismos sociales y la sombra de la tuberculosis acabarán por conducirles a la senda de las
                  ilusiones perdidas.</p>
                  <a href="/librosDescarga/la_dama_de_las_camelias.pdf" type="button" class="btn-descarga" download="La dama de las camelias">DESCARGAR PDF</a>
              
                  <!-- Vertically centered modal -->
                  <!-- Button trigger modal -->
                  <button type="button" class="btn-descarga" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    QR DE DESCARGA
                  </button>
              
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Escanear para descargar</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <img src="/librosDescarga/qr_el_mundo_perdido.png" alt="El mundo perdido_QR">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 4 -->
              <div class="card" style="width: 18rem;">
                <img src="/images/estudio_en_escarlata.jpg" class="card-img-top" alt="El mundo perdido">
                <div class="card-body">
                  <h5 class="card-title">Estudio en escarlata</h5>
                  <h6>Arthur Conan Doyle</h6>
                  <p class="card-text">Primera novela de Sherlock
                    Holmes. Un cadáver hallado en extrañas circunstancias en una casa deshabitada provoca que los agentes de policía de Scotland
                    Yard se pierdan en divagaciones equivocadas.</p>
                  <a href="/librosDescarga/estudio_en_escarlata.pdf" type="button" class="btn-descarga" download="El mundo perdido">DESCARGAR PDF</a>
              
                  <!-- Vertically centered modal -->
                  <!-- Button trigger modal -->
                  <button type="button" class="btn-descarga" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    QR DE DESCARGA
                  </button>
              
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Escanear para descargar</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <img src="/librosDescarga/qr_el_mundo_perdido.png" alt="El mundo perdido_QR">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 5 -->
              <div class="card" style="width: 18rem;">
                <img src="/images/guerra_y_paz.jpg" class="card-img-top" alt="El mundo perdido">
                <div class="card-body">
                  <h5 class="card-title">Guerra y paz</h5>
                  <h6>León Tolstói</h6>
                  <p class="card-text">Obra monumental y relato épico de cinco familias aristocráticas durante la invasión napoleónica de 1812, considerada
                  obra cumbre de Tolstói.</p>
                  <a href="/librosDescarga/guerra_y_paz.pdf" type="button" class="btn-descarga" download="Guerra y paz">DESCARGAR PDF</a>
              
                  <!-- Vertically centered modal -->
                  <!-- Button trigger modal -->
                  <button type="button" class="btn-descarga" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    QR DE DESCARGA
                  </button>
              
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Escanear para descargar</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <img src="/librosDescarga/qr_el_mundo_perdido.png" alt="El mundo perdido_QR">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 6 -->
              <div class="card" style="width: 18rem;">
                <img src="/images/la_isla_misteriosa.jpg" class="card-img-top" alt="El mundo perdido">
                <div class="card-body">
                  <h5 class="card-title">La isla misteriosa</h5>
                  <h6>Julio Verne</h6>
                  <p class="card-text">Cinco hombres logran escapar del asedio de Richmond en un globo aerostático que finalmente acabará estrellándose en una
                  isla desierta de los Mares del Sur. Los cinco compañeros no tienen nada salvo su ingenio para sobrevivir en una isla que
                  muy pronto se mostrará llena de secretos, misterios y enigmas que jamás hubieran podido imaginar...</p>
                  <a href="/librosDescarga/la_isla_misteriosa.pdf" type="button" class="btn-descarga" download="La isla misteriosa">DESCARGAR PDF</a>
              
                  <!-- Vertically centered modal -->
                  <!-- Button trigger modal -->
                  <button type="button" class="btn-descarga" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    QR DE DESCARGA
                  </button>
              
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Escanear para descargar</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <img src="/librosDescarga/qr_el_mundo_perdido.png" alt="El mundo perdido_QR">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </main>
                <!-- ----footer ----->
                <%-include('../partials/footer') %>
                    <!-- ----footer---- -->
                    </body>
                    <!-- ----scripts ----->
                    <%-include('../partials/scripts') %>
                        <!-- ----scripts---- -->
                        </html>