<!DOCTYPE html>
<html lang="es">

  <!-- ----head ----->
  <%-include('../partials/head') %> 
  <!-- ----head---- -->

<body class="index">


  <!-- ----header ----->
  <%-include('../partials/header') %> 
  <!-- ----header---- -->
 

  <main class="mainIndex">
    <!-- seccion de mas vendidos -->
    <section class="masVendidos">
      <div class="cabecera">
        <h2><%=productos.titulo%></h2>
      </div>
      <div class="articles-masVendidos">
<% papel.forEach(producto => { %>
   <article class="libros-<%=producto.genero%>">
        <a href="products/detalle"><img src="/images/<%=producto.portada%>" alt="portada de<%=producto.titulo%>" /></a>
        <div class="detalle">
          <h3><%=producto.titulo%></h3>
          <h4><%=producto.autor%></h4>
          <p><%=producto.precio%></p>
        </div>
      </article>
<% }) %>
      </div>
    </section>
   

  

    <section class="iconos">
      <h3>en leaf te ofrecemos</h3>
      <div class="articulo-iconos">
        <article class="envios">
          <i class="fas fa-truck"></i>
          <p>compra online y <strong> envios a domicilio </strong></p>
        </article>
        <article class="tarjetas">
          <i class="far fa-credit-card"></i>
          <p>
            pagos fáciles y seguros con <strong>tarjetas de credito</strong>
          </p>
        </article>
        <article class="cambios">
          <i class="fas fa-book"></i>
          <p>simples y rápidos <strong>cambio de libros</strong></p>
        </article>
        <article class="precios">
          <i class="fas fa-dollar-sign"></i>
          <p>los mejores <strong> precios y ofertas</strong></p>
        </article>
      </div>
    </section>
  </main>

   <!-- ----footer ----->
   <%-include('../partials/footer') %> 
   <!-- ----footer---- -->
 
     

</body>
   <!-- ----scripts ----->
   <%-include('../partials/scripts') %> 
   <!-- ----scripts---- -->
</html>