<!DOCTYPE html>
<html lang="es">
<!-- ----head ----->
<%-include('../partials/head') %>
  <!-- ----head---- -->

  <body>
    <!-- ----header ----->
    <%-include('../partials/header') %>
      <!-- ----header---- -->
      <main>
        <h1 class="payForm-title">Finalizá tu compra</h1>
        <div class="payForm-container">
          <div class="payForm-form">
            <form action="" method="POST">
                
              <div class="payForm-facturacion">
                <h2 class="payForm-subtitle">Datos de facturación:</h2>
                <input class="payForm-input" type="text" name="name" placeholder="Nombre/s" />
                <input class="payForm-input" type="text" name="lastname" placeholder="Apellido/s" />
                <input class="payForm-input" type="number" name="telephone" placeholder="Teléfono" />
              </div>
              <div class="payForm-envio">
                <h2 class="payForm-subtitle">Medio de envío:</h2>
                <!-- opciones de envío -->
                <!-- si es ebook -->
                <div class="payForm-radio--aside">
                  <input class="payForm-input payForm-input--aside" type="radio" id="retiro-ebook" value="retiroEbook"
                    name="shipping" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample" role="radio" />
                  <label class="payForm-label" for="retiro-ebook">Enviar mi e-book a este mail:</label>
                </div>
                <!-- bootstrap collapse, no se muestra si no selecciona ebook -->
                <input class="payForm-input" type="email" name="shipping-ebook" placeholder="E-mail de envío" class="collapse"
                  id="collapseExample" />
                <!-- retiro en local-->
                <div class="payForm-radio--aside">
                  <input class="payForm-input payForm-input--aside" type="radio" id="retiro-local" value="retiro-local"
                    name="shipping" />
                  <label class="payForm-label" for="retiro-local">Retiro gratis en el local Calle Falsa N°123</label>
                </div>
                <!-- retiro en correo-->
                <div class="payForm-radio--aside">
                  <input class="payForm-input payForm-input--aside" type="radio" id="retiro-correo" value="retiro-correo"
                    name="shipping" />
                  <label class="payForm-label" for="retiro-correo">Retiro gratis en el correo Calle Perdida S/N</label>
                </div>
                <!-- A domicilio-->
                <div class="payForm-radio--aside">
                  <input class="payForm-input payForm-input--aside" type="radio" id="envio-domicilio" value="envioDomicilio"
                    name="shipping" data-bs-toggle="collapse" href="#multiCollapseExample1" role="radiogroup"
                    aria-expanded="false" aria-controls="multiCollapseExample1" />
                  <label class="payForm-label" for="envio-domicilio">Envío a mi domicilio</label>
                </div>
                <!-- bootstrap collapse, no se muestran opciones si no selecciona a domicilio -->
                <input class="payForm-input" type="text" name="street" placeholder="Calle" class="collapse multi-collapse"
                  id="multiCollapseExample1" />
                <input class="payForm-input" type="text" name="number" placeholder="Número" class="collapse multi-collapse"
                  id="multiCollapseExample1" />
                <input class="payForm-input" type="number" name="cp" placeholder="Código Postal"
                  class="collapse multi-collapse" id="multiCollapseExample1" />
                <select name="provincia" class="collapse multi-collapse payForm-select" id="multiCollapseExample1">
                  <option value="" hidden selected class="collapse multi-collapse payForm-select--option"
                    id="multiCollapseExample1">
                    Seleccione su provincia
                  </option>
                  <% costoEnvio.forEach(envio=> {%>
                    <option value="<%= envio.name %>" class="collapse multi-collapse" id="multiCollapseExample1">
                      <%= envio.name %>
                    </option>
                    <% })%>
                </select>
                <input class="payForm-input" type="text" name="localidad" placeholder="Localidad"
                  class="collapse multi-collapse" id="multiCollapseExample1" />
              </div>
              <div class="payForm-pago">
                <h2 class="payForm-subtitle">Medio de pago:</h2>
                <!-- efectivo -->
                <div class="payForm-radio--aside">
                  <input class="payForm-input payForm-input--aside" type="radio" name="paymentMethods" id="credito"
                    value="creditoDebito" data-bs-toggle="collapse" href="#multiCollapseExample2" role="radiogroup"
                    aria-expanded="false" aria-controls="multiCollapseExample2" />
                  <label class="payForm-label" for="credito">Tarjeta de crédito o débito</label>
                </div>
                <!-- bootstrap collapse, no se muestran opciones si no selecciona a domicilio -->
                <input class="payForm-input" type="text" name="titularCard" placeholder="Nombre titular de la tarjeta"
                  class="collapse multi-collapse" id="multiCollapseExample2" />
                <select name="cardType" class="payForm-select collapse multi-collapse" id="multiCollapseExample2">
                  <option value="" hidden selected>Seleccione su tarjeta</option>
                  <option value="Visa">Visa</option>
                  <option value="mastercard">Mastercard</option>
                </select>
                <input class="payForm-input" type="number" name="cardNumber" placeholder="Número de tarjeta"
                  class="collapse multi-collapse" id="multiCollapseExample2" />
                <label class="payForm-label" for="due-date" class="collapse multi-collapse" id="multiCollapseExample2" name="due-date" >Mes
                  y año de vencimiento:</label>
                <input class="payForm-input" type="month" name="dueDate" class="collapse multi-collapse"
                  id="multiCollapseExample2" />
                <input class="payForm-input" type="number" name="securityCode" placeholder="Código de seguridad"
                  class="collapse multi-collapse" id="multiCollapseExample2" />
                <!-- paypal -->
                <div class="payForm-radio--aside">
                  <input class="payForm-input payForm-input--aside" type="radio" name="paymentMethods" id="payPal"
                    value="paypal" />
                  <label class="payForm-label" for="paypal">Paypal</label>
                </div>
                <!-- efectivo -->
                <div class="payForm-radio--aside">
                  <input class="payForm-input payForm-input--aside" type="radio" name="paymentMethods" id="efectivo"
                    value="efectivo" />
                  <label class="payForm-label" for="efectivo">Efectivo en nuestro local</label>
                </div>
              </div>
              <div class="payForm-contenedor-botones">
                <button class="payForm-btn" type="submit">FINALIZAR COMPRA</button>
                <a class="btn payForm-btn payForm-btn--a" href="/">SEGUIR COMPRANDO</a>
              </div>
            </form>
          </div>
          <!-- Resumen de compra y suma de envio -->
          <aside class="payForm-description">
            <!-- bootstrap card-images-horizontal -->
            <div class="card mb-3 payForm-description--card" style="max-width: 540px">
              <div class="row g-0">
                <h4 class="payForm-card-title--h4">Resumen de tu compra:</h4>
                <div class="col-md-4">
                  <img src="/images/<%= productos.cover %> " class="payForm-img--mobile img-fluid rounded-start"
                    alt="<%= productos.title %>" />
                </div>
                <div class="col-md-8">
                  <div class="card-body payForm-description--body">
                    <div class="payForm-calc-compra">
                      <h5 class="payForm-card--title-h5">
                        <%= productos.title %>
                      </h5>
                      <h6 class="payForm-card--subtitle">
                        <%= productos.autor.nameLastname %>
                      </h6>
                      <p class="payForm-card--p">Formato: <%= productos.formato.name %>
                      </p>
                      <div class="payForm-card--space-between">
                        <p class="payForm-card--p">Cantidad: 1</p>
                        <p class="payForm-card--p">$<%= productos.price %>
                        </p>
                      </div>
                    </div>
                    <div class="payForm-calc-envio">
                      <h5 class="payForm-card--title-h5">Forma de envio</h5>
                      <h6 class="payForm-card--subtitle">
                        Retiro gratis en el local Calle Falsa N°123
                      </h6>
                      <div class="payForm-card--space-between">
                        <h6 class="payForm-card--subtitle">Costo:</h6>
                        <p class="payForm-card--p">$0</p>
                      </div>
                    </div>
                    <div class="payForm-subtotal">
                      <div class="payForm-card--space-between">
                        <h6 class="payForm-card--subtitle">Subtotal:</h6>
                        <p class="payForm-card--p">$<%= productos.price %>
                        </p>
                      </div>
                      <div class="payForm-card--space-between">
                        <h6 class="payForm-card--subtitle">Envío:</h6>
                        <p class="payForm-card--p">$0</p>
                      </div>
                    </div>
                    <div class="payForm-total payForm-card--space-between">
                      <h5 class="payForm-card--title-h5">Total a pagar:</h5>
                      <p class="payForm-card--p">$<%= productos.price %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>
    </main>
    <!-- pie de pagina -->
    <!-- ----footer ----->
  <%-include('../partials/footer') %> 
  <!-- ----footer---- -->
<!-- ----scripts ----->
<%-include('../partials/scripts') %> 
<!-- ----scripts---- -->
  </body>

</html>