<!DOCTYPE html>
<html lang="es">
<!-- ----head ----->
<%-include('../partials/head') %>
  <!-- ----head---- -->

  <body class="detail">
    <!-- encabezado -->
    <!-- ----header ----->
    <%-include('../partials/header') %>
      <main>

        <div class="seleccionProducto">
          <article class="seleccion libros-<%=producto.genero.name%>">
            <h4>
              <%= producto.title %>
            </h4>
            <img class="<%= producto.genre %>" src="/images/<%= producto.cover %> " alt="<%= producto.title %> " />
          </article>

          <section class="producto">
            <div class="productoArriba">
              <a href="/products/autor/<%= producto.autor.nameLastname %> ">
              <h4>Autor: <%= producto.autor.nameLastname %>
              </h4>
              </a>
<a href="/products/editorial/<%= producto.editorial.name %> ">
              <h5>Editorial: <%= producto.editorial.name %>
              </h5>
</a>
              <h5>Stock: <%= producto.stock %>
              </h5>
            </div>
            <div class="productoAbajo">
              <p>$ <%= producto.price %>
              </p>
              <a class="comprar" href="">COMPRAR</a>
            </div>
            <p class="sinopsis"> Sinopsis: <%= producto.synopsis %>
            </p>
          </section>
        </div>

        <h4 class="infoad">Información adicional</h4>
        <section class="iconoInfo">
          <div>
            <i class="fas fa-barcode"></i>
            <p>ISBN</p>
            <p>
              <%= producto.isbn %>
            </p>
          </div>
          <div>
            <i class="fas fa-book-open"></i>
            <p>Páginas</p>
            <p>
              <%= producto.pages %>
            </p>
          </div>
          <div>
            <i class="fas fa-globe-americas"></i>
            <p>Idioma</p>
            <p><%= producto.language %></p>
          </div>
          <div>
            <i class="fas fa-boxes"></i>
            <p>Género</p>
            <p>
              <%= producto.genero.name %>
            </p>
          </div>
        </section>
        <h4 class="ademas">También te recomendamos del género <%=producto.genero.name%>
        </h4>
        <section class="otros">
<!-- CARROUSEL -->

<div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/<%= producto.cover %> "  alt="..." />
      <h3>
        <%= producto.title %>
      </h3>
      <a href="/products/autor/<%= producto.autor.nameLastname%>">
        <h5>
          <%= producto.autor.nameLastname %>
        </h5>
      </a>
      <p> $ <%= producto.price %>
      </p>
    </div>
    <% relacionados.forEach(book=> { %>
      <% if(book.genero.name===producto.genero.name && book.id !== producto.id){%>
        <div class="carousel-item">
<a href="/products/detalle/<%= book.id %> "><img src="/images/<%= book.cover %> "  alt="..."/></a>
<h3><%= book.title %> </h3>
<a href="/products/autor/<%= book.autor.nameLastname %> "><h5><%= book.autor.nameLastname %> </h5></a>
<p> $ <%= book.price %> </p>
          </div>
        <% } %>

          <% }) %>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
        </section>
      </main>
      <!-- pie de pagina -->
      <!-- ----footer ----->
      <%-include('../partials/footer') %>
        <!-- ----footer---- -->
        <!-- ----scripts ----->
        <%-include('../partials/scripts') %>
          <!-- ----scripts---- -->
  </body>

</html>