<!DOCTYPE html>
<html lang="es">
<!-- ----head ----->
<%-include('../partials/head') %>
    <!-- ----head---- -->

    <body class="novedades admin">
        <!-- encabezado -->
        <!-- ----header ----->
        <%-include('../partials/header') %>
            <!-- ----header---- -->

            <main class="mainIndex carruselEjs">

              <div class="card mt-5 ">
                <div class="card-header">
                    <h3>Agregar imagen para publicidad:</h3>
                </div>
                <div class="card-body administrador">
                    <form action="" method="POST" class="formulario" enctype="multipart/form-data" >
                        <label for="promos">Imagen:</label>
                        <input type="file" name="promos" id="promos" value="<%= locals.old && locals.old.promos ? old.promos : null %> ">
                        <!-- Posibles errores -->
                        <span>
                            <%= locals.errores && locals.errores.promos ? errores.promos.msg :null %>
                        </span>
                        <!--BOTONES-->
                        <section class="botones d-grid gap-2 d-md-block">
                            <button type="submit" class="btn-guardar">AGREGAR</button>
                            <a href="/products/administrador" class="btn-cancelar" type="button">CANCELAR</a>
                        </section>
                    </form>
                </div>
            </div>
  
            
              <h2>Editar imagenes de publicidad</h2>
              <p class="fw-light fs-6">(usa los botones que contiene cada imagen)</p>
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
             
                <div class="carousel-inner">
                  <div class="carousel-item active promo-carrusel">
                    <img src="/images/<%= primerPromo.promoImage %>" class="d-block w-100 " alt="..." />
                    <form action="/products/eliminarPublicidad/<%= primerPromo.id %>?_method=DELETE" method="POST">
                    <div class="d-grid gap-2 col-6 mx-auto">
                      <a href=" /products/editarPublicidad/<%= primerPromo.id %>" type="button"
                        class="admin-btn-editar btn btn-warning">EDITAR</a>
                </div>
              </form>
                
                  </div>
                  <% imagesPromos.forEach(image => { %>
                    <% if (image.id != 1) { %>
                      <div class="carousel-item promo-carrusel">
                        <img src="/images/<%= image.promoImage %>" class="d-block w-100 " alt="..." />
                        <form action="/products/eliminarPublicidad/<%= image.id %>?_method=DELETE" method="POST">
  
                        <div class="d-grid gap-2 col-6 mx-auto">
                          <a href="/products/editarPublicidad/<%= image.id %>" type="button"
                            class="admin-btn-editar btn btn-warning">EDITAR</a>
                          <button class="btn btn-danger admin-btn-eliminar" onclick="return confirm('¿Estás seguro? Esta acción no se puede deshacer')">ELIMINAR</button>
                    </div>
                  </form>
                      </div>
                    <% } %>
                  <% }) %>
                 
                 
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="prev" >
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="next" >
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                
              </div>
             
           
            </main>
                <!-- ----scripts ----->
        <%-include('../partials/scripts') %>
        <!-- ----scripts---- -->

    </body>

</html>