<!DOCTYPE html>
<html lang="es">

<!-- ----head ----->
<%-include('../../partials/head') %>
  <!-- ----head---- -->

  <body class="index">


    <!-- ----header ----->
    <%-include('../../partials/header') %>
      <!-- ----header---- -->
      <h1 class="titulo-generos">
        <%=title%>
      </h1>
      <main class="mainIndex ">
        <!-- seccion de mas vendidos -->
        <section class="masVendidos libros-vista">
          <div class="cabecera">
            <h2>
              <%=productos.title%>
            </h2>
          </div>
          <div class="articles-masVendidos">
            <% productos.forEach(producto=> { %>
              <article class="libros-<%=producto.genero.name%> btn-cart-art">
                <a href="/products/detalle/<%=producto.id%>"><img src="/images/<%=producto.cover%>"
                    alt="portada de<%=producto.title%>" /></a>
                <div class="detalle">
                  <h3>
                    <%=producto.title%>
                  </h3>
                  <h4>
                    <%=producto.autor.nameLastname%>
                  </h4>
                  <p>$ <%=producto.price%>
                  </p>
                                                              <!-- Muestro el boton de carrito solo si esta logueado -->
            <% if (locals.userLogin) { %>
              <% if (locals.userLogin.rol ===1 ) { %>
                <div class="cont-btn"> <button type="button" class="btn-cart btn-cart-none"  class="btn "><i class="fas fa-shopping-cart"></i></button></div>   
            
            <% } else { %>
            <div></div>
            <%}%>
                      <% } else { %>
            <div></div>
            <%}%>
                </div>
              </article>
              <% }) %>
          </div>
        </section>
        <section class="iconos">
          <h3>en leaf te ofrecemos</h3>
          <div class="articulo-iconos">
            <article class="envios">
              <i class="fas fa-truck"></i>
              <p>compra online y <strong> envios a domicilio </strong></p>
            </article>
            <article class="tarjetas">
              <i class="far fa-credit-card"></i>
              <p>
                pagos fáciles y seguros con <strong>tarjetas de credito</strong>
              </p>
            </article>
            <article class="cambios">
              <i class="fas fa-book"></i>
              <p>simples y rápidos <strong>cambio de libros</strong></p>
            </article>
            <article class="precios">
              <i class="fas fa-dollar-sign"></i>
              <p>los mejores <strong> precios y ofertas</strong></p>
            </article>
          </div>
        </section>
      </main>

      <!-- ----footer ----->
      <%-include('../../partials/footer') %>
        <!-- ----footer---- -->



  </body>
  <!-- ----scripts ----->
  <%-include('../../partials/scripts') %>
    <!-- ----scripts---- -->

</html>