<!-- pie de pagina -->
<footer>
  <div class="cabecera-footer">
    <a href="#contenedorLogo">
      <img src="/images/logo-leaf-remaster.png" alt="" /></a>
    <!-- footer seccion arriba -->
    <div class="footer-arriba">
      <!-- redes sociales -->
      <ul class="redes">
        <li>
          <a href="https://www.facebook.com/Librer%C3%ADa-LEAF-102157472264108"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/libreria_leaf/"><i class="fab fa-instagram-square"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/libreria_leaf"><i class="fab fa-twitter-square"></i></a>
        </li>
      </ul>
      <p>Seguinos y enterate de todas las novedades</p>
    </div>
  </div>

  <!-- footer seccion media -->
  <div class="footer-medio">
    <ul>
      <li><a href="">Inicio</a></li>
      <!-- modal Como comprar -->
      <li class="nav-item btn-modal">
        <a class="active" aria-current="page" data-bs-toggle="modal" data-bs-target="#como-comprar" href="#">Como
          comprar</a>
      <li class="nav-item">
        <a class="active" aria-current="page" data-bs-toggle="modal" data-bs-target="#contacto" href="#">Contacto</a>
      </li>
      <li><a href="/preguntasFrecuentes">Preguntas frecuentes</a></li>
      <li><a href="/quienesSomos">Quienes somos</a></li>
      <!-- modal trabaja con nosotros -->
      <li class="nav-item btn-modal">
        <a class="active" aria-current="page" data-bs-toggle="modal" data-bs-target="#trabaja-nosotros" href="#">Trabaja
          con nosotros</a>
      </li>
      <!-- Locales -->
      <li class="nav-item btn-modal">
        <a class="active" aria-current="page" data-bs-toggle="modal" data-bs-target="#locales" href="#">Locales</a>
      </li>
      <li class="nav-item">
        <a class="active" aria-current="page" data-bs-toggle="modal" data-bs-target="#politicas" href="#">Políticas</a>
      </li>
    </ul>
  </div>

  <!-- footer seccion baja -->
  <div class="footer-abajo">
    <!-- medios de pago -->
    <div class="tarjetas">
      <i class="fab fa-cc-visa"></i>
      <i class="fab fa-cc-mastercard"></i>
      <i class="fab fa-cc-paypal"></i>
    </div>
    <!-- imagen de libreria -->
    <img src="/images/leafFooter.png" alt="" />
    <!-- email -->
    <a href="mailto:ventas@leaf.com">
      <i class="far fa-envelope"></i>ventas@leaf.com
    </a>
  </div>
  <!-- terminos y condiciones -->
  <div class="terminos">
    <ul class="terminos-ul">
      <!-- boton de modal -->
      <!-- esta hecho para agregarlo al navbar o footer -->
      <li class="nav-item btn-modal terminos-li">
        <a class="nav-link active" aria-current="page" data-bs-toggle="modal" data-bs-target="#politica-privacidad"
          href="#">Aviso de privacidad |
        </a>
      </li>
      <li class="nav-item btn-modal terminos-li">
        <a class="nav-link active" aria-current="page" data-bs-toggle="modal" data-bs-target="#terminos-condiciones"
          href="#">Términos y condiciones</a>
      </li>
    </ul>

    <p>
      Los precios publicados en esta tienda están sujetos a cambios sin
      previo aviso y solo son aplicables para ventas en línea.
    </p>
    <p>Algunos títulos están sujetos a disponibilidad.</p>
    <p class="copy-right desarrolladores">
      &copy 2021 LIBRERIA LEAF. Todos los derechos reservados | Desarrollado
      por
      <a href="https://github.com/LorenaCoheneBaez">Lorena Cohene Báez</a> /
      <a href="https://github.com/Eliana995">Eliana Andrada</a>/
      <a href="https://github.com/AntonelaEspinola">Antonela Espínola</a>/
      <a href="https://github.com/ScuderiFernando">Fernando Scuderi</a> 
    </p>
  </div>
  <!-- -----modal----- -->

  <!-- Modal como comprar -->
  <div class="modal fade" id="como-comprar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Como comprar
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="modal-body">
          <p>
            Para realizar compras en leaf.com es necesario que cuentes con un usuario ya registrado e ingreses a nuestro
            sitio con él, o que te registres.
            Luego de agregar los libros deseados en el carrito de compras podrás, accediendo al mismo:
          </p>
          <p>• Calcular el costo de envío ingresando los datos del domicilio de entrega</p>
          <p>• En caso de adquirir un e-book, podrás ingresar el mail donde quieras recibirlo.</p>
          <p>
            Podrás generar la compra de manera rápida y sencilla ingresando los datos de entrega, el método de envío y
            la forma de pago. Luego, por último, revisar el pedido y finalizarlo recibiendo una confirmación del mismo
            en tu casilla de correo.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal contacto -->


<!-- modify this form HTML and place wherever you want your form -->

  <div class="modal fade" id="contacto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog scrollable">
      <div class="modal-content">
        <!--ENCABEZADO MODAL -->
        <div class="modal-header">
          <form id="my-form" action="https://formspree.io/f/xknpyapk" method="POST" class="form-signin">
            <h3 class="modal-title contacto-title" id="title-form" id="exampleModalLabel">Contactanos</h3>
            <!-- BODY MODAL  -->
            <div id="modal-body-" class="modal-nonear">
              <h4 class="h4 mb-3 font-weight-normal" id="subtitulo"> Completa tus datos para enviar tu consulta</h4>
              <label id="nomb" for="nombre">Nombre:</label><br>
              <input type="text" class="form-control <%= locals.errores && locals.errores.name ? 'is-invalid' : null %>" id="nombre" name="name" value="" placeholder="Nombre"><br>
              <span id="error-name" class="text-danger small"><%= locals.errores && locals.errores.name ? errores.name.msg : null %> </span>

              <label for="apell">Apellido:</label><br>
              <input type="text" class="form-control <%= locals.errores && locals.errores.lastname ? 'is-invalid' : null %>" id="apellido" name="lastname" value="" placeholder="Apellido"><br>
              <span id="error-lastname" class="text-danger small"><%= locals.errores && locals.errores.lastname ? errores.lastname.msg : null %> </span>

              <label>Email:</label><br>
              <input type="email" name="email" class="form-control <%= locals.errores && locals.errores.email ? 'is-invalid' : null %>" value="" placeholder="Email address" id="email"><br>
              <span id="error-email" class="text-danger small"><%= locals.errores && locals.errores.email ? errores.email.msg : null %> </span>

              <label id="mensaje" for="mensaje">Mensaje:</label><br>
              <textarea name="message" class="form-control <%= locals.errores && locals.errores.mens ? 'is-invalid' : null %>" name="mens" id="mens" cols="50" rows="5"></textarea>
              <span id="error-mens" class="text-danger small"><%= locals.errores && locals.errores.mens ? errores.mens.msg : null %> </span>

            </div>
              <button  id="my-form-button" class="btn btn-lg  btn-block btn-modal centrar-form">Enviar</button>
              <p id="my-form-status"></p>
              <div class="modal-footer">
                <!-- <button type="button" 
                id="my-form-button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Cerrar
                </button> -->
              </div>
          </form>
        </div>
      </div>
    </div>
    </div>

    <!-- Modal trabaja con nosotros-->
    <div class="modal fade" id="trabaja-nosotros" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Trabaja con nosotros
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div id="modal-body">
            <p>
              ¿Querés ser parte del equipo de LEAF? Envianos tu CV a
              rrhh@leaf.com
            </p>
            <p>
              Para aplicar al puesto de vendedor o cajero en nuestra librería enviá tu
              CV a rrhh.retail@leaf.com
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal políticas-->
    <div class="modal fade" id="politicas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Politicas
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div id="modal-body">
            <p>
              Para los efectos de la presente política y en concordancia con la normatividad vigente en materia de
              protección de datos personales, se tendrán en cuenta las siguientes definiciones:

              Autorización: Consentimiento previo, expreso e informado del Titular para llevar a cabo el Tratamiento de
              datos personales.
            </p>
            <p>
              Aviso de privacidad: Comunicación verbal o escrita generada por el Responsable, dirigida al Titular para
              el
              tratamiento de sus datos personales, mediante la cual se le informa acerca de la existencia de las
              políticas
              de tratamiento de información que le serán aplicables, la forma de acceder a las mismas y las finalidades
              del tratamiento que se pretende dar a los datos personales.
            </p>
            <p>Base de Datos: Conjunto organizado de datos personales que sea objeto de tratamiento.</p>
            <p>Causahabiente: persona que ha sucedido a otra por causa del fallecimiento de ésta (heredero).</p>
            <p>Dato personal: Cualquier información vinculada o que pueda asociarse a una o varias personas naturales
              determinadas o determinables.</p>
            <p>Dato público: Es el dato que no sea semiprivado, privado o sensible. Son considerados datos públicos,
              entre
              otros, los datos relativos al estado civil de las personas, a su profesión u oficio y a su calidad de
              comerciante o de servidor público. Por su naturaleza, los datos públicos pueden estar contenidos, entre
              otros, en registros públicos, documentos públicos, gacetas y boletines oficiales y sentencias judiciales
              debidamente ejecutoriadas que no estén sometidas a reserva.</p>

            <p>Datos sensibles: Se entiende por datos sensibles aquellos que afectan la intimidad del Titular o cuyo uso
              indebido puede generar su discriminación, tales como que revelen el origen racial o étnico, la orientación
              política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales,
              de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los derechos y
              garantías de partidos políticos de oposición, así como los datos relativos a la salud, a la vida sexual, y
              los datos biométricos.</p>

            <p>Encargado del Tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio
              con
              otros, realice el Tratamiento de datos personales por cuenta del Responsable del Tratamiento.</p>

            <p>Responsable del Tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio
              con
              otros, decida sobre la base de datos y/o el Tratamiento de los datos. Titular: Persona natural cuyos datos
              personales sean objeto de Tratamiento.</p>

            <p>Tratamiento: Cualquier operación o conjunto de operaciones sobre datos personales, tales como la
              recolección, almacenamiento, uso, circulación o supresión.</p>

            <p>Transferencia: la transferencia de datos tiene lugar cuando el responsable y/o encargado del tratamiento
              de
              datos personales, ubicado en Argentina, envía la información o los datos personales a un receptor, que a
              su
              vez es responsable del tratamiento y se encuentra dentro o fuera del país.</p>

            <p>Transmisión: tratamiento de datos personales que implica la comunicación de los mismos dentro o fuera del
              territorio de la República Argentina cuando tenga por objeto la realización de un tratamiento por el
              encargado por cuenta del responsable.</p>

            <p>Las definiciones incluidas en este documento son tomadas de la normatividad vigente en Argentina que
              regula la protección de datos personales.</p>

            <p> La Librería LEAF, el sitio web <a href="/">www.libreriaLEAF.com</a> , sus logotipos y todo el material
              que aparece en dicho
              sitio, son marcas, nombres de dominio, nombres comerciales y obras artísticas propiedad de sus respectivos
              titulares y están protegidos por los tratados internacionales y las leyes aplicables en materia de
              propiedad
              intelectual y derechos de autor.</p>

            <p> Los derechos de autor sobre el contenido, organización, recopilación, compilación, información,
              logotipos,
              fotografías, imágenes, programas, aplicaciones, y en general cualquier información contenida o publicada
              en
              el sitio web <a href="/">www.libreriaLEAF.com</a> se encuentran debidamente protegidos a favor de Librería
              LEAF, sus
              afiliados, proveedores y/o de sus respectivos propietarios, de conformidad con la legislación aplicable en
              materia de propiedad intelectual e industrial.</p>

            <p> Se prohíbe expresamente al usuario modificar, alterar o suprimir, ya sea en forma total o parcial, los
              avisos, marcas, nombres comerciales, señas, anuncios, logotipos o en general cualquier indicación que se
              refiera a la propiedad de la información contenida en el sitio señalado.</p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="politica-privacidad" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Aviso de privacidad
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div id="modal-body">
            <p>
              En LEAF estamos comprometidos a respetar y garantizar su
              privacidad.
            </p>
            <p>
              Nuestro sitio utiliza "cookies" para mantener un registro de los
              ítems que usted suma al carrito, para recordar información al
              pasar de página en página sin necesidad de volver a solicitársela,
              para recolectar detalles acerca de sus preferencias y las de otros
              clientes, para reconocer qué áreas del sitio debemos desarrollar
              más y qué otras no son de acceso frecuente.
            </p>
            <p>
              Toda esta información, junto con los e-mails de sugerencias
              recibidos sirven para modificar el sitio de manera que sea más
              amigable o productivo para nuestros clientes.
            </p>
            <p>
              Cuando le solicitamos sus datos personales, lo hacemos para poder
              procesar, despachar y avisarle acerca del estado de su orden. El
              número de teléfono lo solicitamos para el caso que un
              representante de servicio al cliente tenga la necesidad de
              contactarse con usted y no pueda lograrlo por medio del e-mail.
            </p>
            <p>
              La información acerca de su tarjeta de crédito no queda registrada
              en nuestras bases de datos, utilizamos el sistema de Pago Seguro
              de PayU para compras con tarjetas internacionales y MercadoPago
              para compras con tarjetas locales como nexo con las controladoras
              de tarjeta de crédito. De esta manera no conocemos los datos de la
              tarjeta ingresada en línea, únicamente recibimos un número de
              autorización o rechazo de la operación.
            </p>
            <p>
              Cuando se suscribe para recibir novedades por e-mail, únicamente
              consideramos su dirección de e-mail para ese tema, no enviamos
              publicidad no solicitada y no compartimos ni entregamos nuestras
              bases de datos a terceras partes bajo ningún motivo.
            </p>
            <p>
              Cuando usted se registra como cliente e informa su clave personal,
              ésta permanece totalmente encriptada y si usted la pierde o no la
              recuerda, nosotros no podemos acceder a recuperarla, únicamente
              podemos asignarle una nueva. De esta forma queda garantizada la
              privacidad de la misma.
            </p>
            <p>
              Es necesario aclarar que cuando usted clickea sobre un link o un
              aviso publicitario que lo conecta con otros sitios web, usted está
              sujeto a las políticas de dicho sitio. No nos hacemos responsables
              por las acciones de estas terceras partes y por ello recomendamos
              lea detenidamente la política de privacidad del sitio accedido.
            </p>
            <p>
              Estamos comprometidos a brindar el mejor servicio en línea
              posible, verifique periódicamente si hubo algún cambio en esta
              página, pues el uso del sitio cuspide.com implica el conocimiento
              y aceptación de nuestra política de privacidad.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal téminos y condiciones-->
    <div class="modal fade" id="terminos-condiciones" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Términos y condiciones
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div id="modal-body">
            <p>
              Resolución 244/2020 de la Secretaría de Comercio Interior del
              Ministerio de Desarrollo Productivo Última modificación:
              01/10/2020
            </p>
            <p>
              Dispone que los plazos previstos en las garantías contractuales y
              legales en los términos de la Ley N° 24.240 se tienen por
              suspendidos por todo el periodo en que los consumidores se hayan
              visto imposibilitados de ejercer sus derechos en virtud del
              Aislamiento Social, Preventivo y Obligatorio dictado por el
              Decreto Nº 297 de fecha 19 de marzo de 2020 y sus modificatorios.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Locales-->
    <div class="modal fade" id="locales" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Nuestros locales
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div id="modal-body">
            <div class=localesModal>
              <h5>
                Sucursal Alto Palermo - Av. Santa Fe 3253
              </h5>
              <a
                href="https://www.google.com/maps/place/Alto+Palermo+Shopping/@-34.588321,-58.410757,15z/data=!4m5!3m4!1s0x0:0xc7a941fe0d021ba0!8m2!3d-34.588321!4d-58.410757">¿Cómo
                llego?</a>
              <img src="/images/local-palermo.png" width=100% height=150px alt="">
            </div>
            <div class=localesModal>
              <h5>
                Sucursal Shopping Abasto - Av. Corrientes 3247
              </h5>
              <a
                href="https://www.google.com/maps/place/Abasto+Shopping/@-34.6031443,-58.4130297,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcca8c854bd13f:0xfc0cf5c054da4aa1!8m2!3d-34.6031487!4d-58.410841">¿Cómo
                llego?</a>
              <img src="/images/local-abasto.png" width=100% height=150px alt="">
            </div>
            <div class=localesModal>
              <h5>
                Sucursal Alto Avellaneda - Gral. Güemes 897
              </h5>
              <a
                href="https://www.google.com/maps/place/Alto+Avellaneda+Shopping/@-34.6752756,-58.3695765,17z/data=!3m1!4b1!4m5!3m4!1s0x95a33334248ec25d:0x438c219aee66c1bb!8m2!3d-34.67528!4d-58.3673878">¿Cómo
                llego?</a>
              <img src="/images/local-avellaneda.png" width=100% height=150px alt="">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>

</footer>