<!DOCTYPE html>
<html lang="es">

<!-- ----head ----->
<%-include('../partials/head') %>
    <!-- ----head---- -->

    <body class="body-register perfil">
        <!-- Imagen de costado = tablet/desktop -->
        <section class="contenido-gral-register">
            <div class="imgcostado-register" style="width: 18rem;">
                <img src="/images/<%=user.image%>" class="card-img-top" alt="Logo de leaf">
                <div class="card-body">

                    <p>
                        <%=user.name%>
                    </p>
                </div>
                <!-- REDES SOCIALES -->
                <ul class="redes-register">
                    <li>
                        <h5>Seguinos en redes sociales</h5>
                    </li>
                    <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
                </ul>
            </div>

            <div class="conclase-register perfil-div">
                <section class="header-register">
                    <a href="/products/carrito" class="icono-carrito"><i class="fas fa-shopping-cart "></i></a>
                    <!-- editar perfil -->
                    <div><a href="/" class="editar-perfil">
                            <p>Home</p>
                        </a></div>
                </section>

                <main class="main-register perfil-main">
                    <form action="/users/editarPerfil/<%=user.id%>?_method=PUT" method="POST" id="edit-perfil-form" novalidate
                        enctype="multipart/form-data">
                        <a href="/users/perfil/<%=user.id%>"><i class="fas fa-angle-double-left"></i> Atras</a>
                        <h2 class="bienvenido-perfil">Editando perfil </h2>
                        <div class="nombre">
                            <label for="imagenPerfil" class="form-label">Cambiar imagen</label>
                            <input type="file" class="form-control" id="imagenPerfil" name="image">
                        </div>
                        <!-- errores -->
                        <span class="text-danger small ">
                            <%= locals.errores && locals.errores.image ? errores.image.msg :null %>
                        </span>
                            <!-- previsualiza imagen -->
            <div id="image-render"><img  id="image"></div>
                        <!-- NICK -->
                        <div class="nombre"><label for="nickname">NickName</label><input type="text" name="nickname"
                                id="nickname"
                                value="<%= locals.old && locals.old.nickname ? old.nickname : user.nickname %> ">
                            <span class="text-danger small">
                                <%= locals.errores && locals.errores.nickname ? errores.nickname.msg :null %>
                            </span>

                        </div>
                        <div class="nombre"><label for="nombre">Nombre(s)</label><input type="text" name="name"
                                id="nombre" value="<%= locals.old && locals.old.name ? old.name : user.name %> ">
                        </div>
                        <span class="text-danger small">
                            <%= locals.errores && locals.errores.name ? errores.name.msg :null %>
                        </span>

                        <div class="apellido"> <label for="apellido">Apellido(s)</label> <input type="text"
                                name="lastname" id="apellido"
                                value="<%= locals.old && locals.old.lastname ? old.lastname : user.lastname %> ">
                        </div>
                        <span class="text-danger small">
                            <%= locals.errores && locals.errores.lastname ? errores.lastname.msg :null %>
                        </span>
                        
                            <button type="submit" class="editarPerfil">Guardar</button>
                        </div>
                    </form>
                </main>
            </div>
        </section>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
            <script src="/javascripts/editPerfilRenderImage.js"></script>
    </body>

</html>