<!DOCTYPE html>
<html lang="es">

<!-- ----head ----->
<%-include('../partials/head') %>
    <!-- ----head---- -->

    <body class="body-register">
        <!-- Imagen de costado = tablet/desktop -->
        <section class="contenido-gral-register">
            <div class="imgcostado-register" style="width: 18rem;">
                <img src="/images/logo-leaf-remaster.png" class="card-img-top" alt="Logo de leaf">
                <div class="card-body">
                    <h4 class="card-title">¡Más de 200.000 títulos!</h4>
                    <p class="card-text">Ahora podes comprar tus libros por Internet desde la comodidad de tu casa u
                        oficina a través de nuestra <a href="/">Tienda Virtual</a></p>
                </div>
                <!-- REDES SOCIALES -->
                <ul class="redes-register">
                    <li>
                        <h5>Seguinos en redes sociales</h5>
                    </li>
                    <li><a href="https://www.facebook.com/Librer%C3%ADa-LEAF-102157472264108"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="https://www.instagram.com/libreria_leaf/"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="https://twitter.com/libreria_leaf"><i class="fab fa-twitter-square"></i></a></li>
                </ul>
            </div>

            <div class="conclase-register">
                <section class="header-register">
                    <a href="/"><img src="/images/logo-leaf-remaster.png" alt="Logo de leaf"></a>

                    <div class="ya-cuenta"><a href="/users/login">¿Ya tienes una cuenta?</a></div>

                    <div class="inic-sesion"><a href="/users/login">iniciar sesión</a></div>
                </section>

                <main class="main-register">
                    <form action="" method="POST" id="register-form" enctype="multipart/form-data" novalidate>
                        <a href="/"><i class="fas fa-angle-double-left"></i> Home</a>
                        <h2>Registrate en LEAF</h2>
                        <span id="error-general" class="text-danger"></span>
                        <div class="registro-correo"> <label for="registro-correo">Correo electrónico</label><input
                                type="email" name="email" id="email" placeholder="nombre@correo.com"
                                value=" <%= locals.old && locals.old.email ? old.email : null %> " >
                        </div>
                        <!-- Posible error -->
                        <span id="error-email" class="text-danger small">
                            <%= locals.errores && locals.errores.email ? errores.email.msg :null %>
                        </span>


                        <div class="nombre"><label for="name">Nombre(s)</label><input type="text" name="name" id="name"
                                placeholder="Nombre(s)"
                                value=" <%= locals.old && locals.old.name ? old.name : null %> ">
                        </div>
                        <!-- Posible error -->
                        <span id="error-name" class="text-danger small">
                            <%= locals.errores && locals.errores.name ? errores.name.msg :null %>
                        </span>


                        <div class="apellido"> <label for="lastname">Apellido(s)</label> <input type="text"
                                name="lastname" id="lastname" placeholder="Apellido(s)"
                                value=" <%= locals.old && locals.old.lastname ? old.lastname : null %> ">
                        </div>
                        <!-- Posible error -->
                        <span id="error-lastname" class="text-danger small">
                            <%= locals.errores && locals.errores.lastname ? errores.lastname.msg :null %>
                        </span>


                        <!-- NICK -->
                        <div class="nombre"><label for="nickname">NickName</label><input type="text" name="nickname"
                                id="nickname" placeholder="NickName"
                                value=" <%= locals.old && locals.old.nickname ? old.nickname : null %> ">
                        </div>
                        <!-- Posible error -->
                        <span class="text-danger small">
                            <%= locals.errores && locals.errores.nickname ? errores.nickname.msg :null %>
                        </span>

                        <div class="mb-3 nombre">
                            <label for="formFile" class="form-label"> Imagen de perfil </label>
                            <input class="form-control" type="file" id="formFile" name="image">
                           
                        </div>
                        <div id="image-render"> <img  id="image"></div>
                       
                          <!-- Posible error -->
                          <span id="error-image" class="text-danger small">
                            <%= locals.errores && locals.errores.image ? errores.image.msg :null %>
                        </span>

                        <div class="registro-password"> <label for="registro-password">Ingresar contraseña</label>
                            <input type="password" name="password" id="password" placeholder="Contraseña">
                        </div>
                        <p id="requisitos-password"></p>
                        <!-- Posible error -->
                        <span id="error-password" class="text-danger small">
                            <%= locals.errores && locals.errores.password ? errores.password.msg :null %>
                        </span>

                        <div class="confirm-password"> <label for="confirm-password">Confirmar contraseña</label> <input
                                type="password" name="confirmarContrasenia" id="confirmarContrasenia"
                                placeholder="Confirmar contraseña">
                        </div>
                        <span  id="error-confirmarContrasenia" class="text-danger small">
                            <%= locals.errores && locals.errores.confirmarContrasenia ? errores.confirmarContrasenia.msg
                                :null %>
                        </span>

                        <div class="politicas-register"><input type="checkbox" name="politicas" value="politicas"
                                id="politicas"><label for="politicas">Acepto las políticas de privacidad y manejo de
                                datos</label>
                        </div>
                        <span id="error-politicas" class="text-danger small">
                            <%= locals.errores && locals.errores.politicas ? errores.politicas.msg :null %>
                        </span>

                        <div class="ya-cuenta"><a href="/users/login">¿Ya tienes una cuenta?</a></div> <br>

                        <button class="submit-reg">Registrarme</button>
                    </form>

                    <div class="datos">
                        <p>Al registrarse en nuestro sistema, le informamos que los datos personales de su propiedad
                            serán
                            tratados, almacenados, usados y procesados en nuestra base de datos, cuya finalidad es
                            gestionar
                            el
                            envío por nuestras partes de bienes y/o servicios y hacerle partícipe de nuestros eventos
                            promocionales. LEAF garantiza el ejercicio de los derechos de acceso, rectificación,
                            cancelación
                            y
                            oposición de los datos facilitados. Si desea consultar o eliminar sus datos, puede hacerlo
                            mediante
                            comunicación escrita dirigida al correo electrónico servicioalcliente@leaf.com </p>
                    </div>

                </main>
            </div>
        </section>

                <!-- ----scripts ----->
                <%-include('../partials/scripts') %>
                    <!-- ----scripts---- -->
            <script src="/javascripts/registerRenderImage.js"></script>
            <script src="/javascripts/registerValidator.js"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <link rel="stylesheet" href="sweetalert2.min.css">
    </body>

</html>