<!DOCTYPE html>
<html lang="es">
<!-- ----head ----->
<%-include('../partials/head') %>
  <!-- ----head---- -->

  <body class="novedades admin">
    <!-- encabezado -->
    <!-- ----header ----->
    <%-include('../partials/header') %>
      <!-- ----header---- -->
      <main>
        
        <a class="volver-admin" href="/products/administrador"><i class="fas fa-angle-double-left"></i>VOLVER</a>
        
                <div class=" card mt-5 ">
                    <div class=" card-header">
            <h3>Listado de usuarios:</h3>

        </div>
        <div class="card-body administrador">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">E-mail</th>
                <th scope="col">Rol</th>
                <th scope="col">Editar Rol</th>
                <th scope="col">Eliminar usuario</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% usuarios.forEach(usuario=> { %>
                  <td>
                    <%= usuario.name %>
                  </td>
                  <td>
                    <%= usuario.lastname %>
                  </td>
                  <td>
                    <%= usuario.email %>
                  </td>
                  <td>
                    <%= usuario.userRol.name %>
                  </td>
                  <td><a href="/users/editarRolUsuario/<%= usuario.id %> " type="button"
                      class=" btn btn-outline-warning"><i class="fas fa-edit"></i></a></td>
                  <td>
                    <form action="/users/eliminarUsuario/<%= usuario.id %>?_method=DELETE" method="POST">
                      <button class="btn btn-outline-danger " onclick="return confirm('¿Estás seguro? Esta acción no se puede deshacer')"><i class="fas fa-trash-alt"></i></button>

                    </form>
                  </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
          </div>
      </main>
  </body>
<!-- ----scripts ----->
<%-include('../partials/scripts') %>
  <!-- ----scripts---- -->
</html>