<!DOCTYPE html>
<html lang="es">

<!-- ----head ----->
<%-include('./partials/head') %>
  <!-- ----head---- -->

  <body class="index">

    <!-- ----header ----->
    <%-include('./partials/header') %>
      <!-- ----header---- -->


      <main class="mainIndex">
        <!-- CARROUSEL -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/banner1.png" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="/images/banner-envio.png" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="/images/banner-redes.png" class="d-block w-100" alt="..." />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev" style="display: none">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next" style="display: none">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <!-- seccion de mas vendidos -->
        <section class="masVendidos ">
          <div class="cabecera">
            <h2>Más vendidos</h2>
            <a href="/products/masVendidos">Ver más</a>
          </div>
          <div class="articles-masVendidos">
            <% masVendidos.forEach(producto=> { %>
              <article class="libros-<%=producto.genero.name%> btn-cart-art">
                <a href="/products/detalle/<%=producto.id%>"><img src="/images/<%=producto.cover%>"
                    alt="portada de<%=producto.title%>" /></a>
                <div class="detalle">
                  <h3>
                    <%=producto.title%>
                  </h3>
                  <a href="/products/autor/<%= producto.autor.nameLastname %> ">
                    <h4>
                      <%=producto.autor.nameLastname%>
                    </h4>
                  </a>
                  <p>$<%=producto.price%>
                  </p>
              <div class="cont-btn"> <button type="button" class="btn-cart btn-cart-none"  class="btn "><i class="fas fa-shopping-cart"></i></button></div>   
                </div>
              </article>
              <% }) %>
          </div>
        </section>
        <!-- seccion de novedades -->
        <section class="novedades">
          <div class="cabecera">
            <h2>novedades</h2>
            <a href="/products/masNovedades">ver más</a>
          </div>
          <div class="articles-novedades">
            <% novedades.forEach(producto=> { %>
              <article class="btn-cart-art">
                <a href="/products/detalle/<%=producto.id%>"><img src="/images/<%= producto.cover %>" alt="" /></a>
                <div class="cont-btn-novedades"> <button type="button" class="btn-cart btn-cart-none"  class="btn "><i class="fas fa-shopping-cart"></i></button></div>   

              </article>
              <% }) %>
          </div>
        </section>

        <!-- sección de recomendados -->
        <section class="recomendados">
          <div class="cabecera">
            <h2>recomendados</h2>
            <a href="/products/masRecomendados">ver más</a>
          </div>
          <div class="articles-recomendados">
            <% recomendados.forEach(producto=> { %>
              <article class="librosRecomendados btn-cart-art">
                <h3>
                  <%= producto.title %>
                </h3>
                <p>
                  <%= producto.slogan %>
                </p>
                <div>
                  $ <%= producto.price %>
                </div>
                <div class="estrella">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="cont-btn-recomendados"> <button type="button" class="btn-cart btn-cart-none"  class="btn "><i class="fas fa-shopping-cart"></i></button></div>   

                <a href="/products/detalle/<%=producto.id%>"><img src="/images/<%= producto.cover %>" alt="" /></a>
              </article>
              <% }) %>
          </div>
        </section>

        <section class="publicidades">
          <img class="promo1" src="/images/promo1.png" alt="promo1" />
          <div class="publicidad-abajo">
            <img class="promo2" src="/images/promo2.png" alt="" />
            <img class="promo3" src="/images/promo3.jpg" alt="" />
            <img class="promo4" src="/images/promo4.png" alt="" />
          </div>
        </section>

        <section class="iconos">
          <h3>en leaf te ofrecemos</h3>
          <div class="articulo-iconos">
            <article class="envios">
              <i class="fas fa-truck"></i>
              <p>compra online y <strong> envios a domicilio </strong></p>
            </article>
            <article class="tarjetas">
              <i class="far fa-credit-card"></i>
              <p>
                pagos fáciles y seguros con <strong>tarjetas de credito</strong>
              </p>
            </article>
            <article class="cambios">
              <i class="fas fa-book"></i>
              <p>simples y rápidos <strong>cambio de libros</strong></p>
            </article>
            <article class="precios">
              <i class="fas fa-dollar-sign"></i>
              <p>los mejores <strong> precios y ofertas</strong></p>
            </article>
          </div>
        </section>
      </main>

      <!-- ----footer ----->
      <%-include('./partials/footer') %>
        <!-- ----footer---- -->
        <script src="/javascripts/contacto.js"></script>
  </body>
  <!-- ----scripts ----->
  <%-include('./partials/scripts') %>
  <script src="/javascripts/btn-cart.js"></script>
    <!-- ----scripts---- -->

</html>