<!DOCTYPE html>
<html lang="es">

<!-- ----head ----->
<%-include('./partials/head') %>
  <!-- ----head---- -->

  <body class="index">


    <!-- ----header ----->
    <%-include('./partials/header') %>
      <!-- ----header---- -->


      <h1 class="titulo-generos">
        <%=title%>
      </h1>

      <main class="mainIndex ">
        <!-- seccion de mas vendidos -->
        <section class="masVendidos libros-vista">
          <div class="cabecera">
            <h2>Resultados de la busqueda: <%=search%>
            </h2>
          </div>
          <div class="articles-masVendidos">
            <% if (result.length> 0) { %>
              <% result.forEach(producto=> { %>

                <article class="libros-<%=producto.genero.name%>">
                  <a href="/products/detalle/<%= producto.id %> "><img src="/images/<%=producto.cover%>"
                      alt="portada de<%=producto.title%>" /></a>
                  <div class="detalle">
                    <h3>
                      <%=producto.title%>
                    </h3>
<a href="/products/autor/<%= producto.autor.nameLastname %> ">
                    <h4>
                      <%=producto.autor.nameLastname%>
                    </h4>
</a>
                    <p>$<%=producto.price%>
                    </p>
                      <!-- Muestro el boton de carrito solo si esta logueado -->
                      <% if (locals.userLogin) { %>
                     
                  <div class="cont-btn"> <button type="button" class="btn-cart btn-cart-none"  class="btn "onclick="agregarItem(event,'<%=producto.id%>')"><i class="fas fa-shopping-cart"></i></button> 
                    </div>
                      <% } else { %>
                        <div></div>
                        <%}%>
                  </div>
                </article>
                <% }) %>
                  <% }else { %>
                    <div class="col-12">
                      <h2 class="products-title" style="color: tomato;">No hay libros que coincidan con esa búsqueda
                      </h2>
                    </div>
          </div>
          </div>
          <%}%>

            </div>
        </section>

        <section class="iconos">
          <h3>en leaf te ofrecemos</h3>
          <div class="articulo-iconos">
            <article class="envios">
              <i class="fas fa-truck"></i>
              <p>compra online y <strong> envios a domicilio </strong></p>
            </article>
            <article class="tarjetas">
              <i class="far fa-credit-card"></i>
              <p>
                pagos fáciles y seguros con <strong>tarjetas de credito</strong>
              </p>
            </article>
            <article class="cambios">
              <i class="fas fa-book"></i>
              <p>simples y rápidos <strong>cambio de libros</strong></p>
            </article>
            <article class="precios">
              <i class="fas fa-dollar-sign"></i>
              <p>los mejores <strong> precios y ofertas</strong></p>
            </article>
          </div>
        </section>
      </main>

      <!-- ----footer ----->
      <%-include('./partials/footer') %>
        <!-- ----footer---- -->



  </body>
  <!-- ----scripts ----->
  <%-include('./partials/scripts') %>
    <!-- ----scripts---- -->

</html>