<!DOCTYPE html>
<html lang="es">

  <!-- ----head ----->
  <%-include('./partials/head') %> 
  <!-- ----head---- -->

<body class="novedades">


  <!-- ----header ----->
  <%-include('./partials/header') %> 
  <!-- ----header---- -->

<main>

    <h2><%= title %> </h2>
    
    <div class=contenedorNovedades>
      <% productos.forEach(producto => { %>
    <article class="libro">
        <a href="/products/detalle/<%= producto.id %> "
          ><img src="/images/<%= producto.cover %> " alt="<%= producto.title %> "
        /></a>
        <div class="detalle">
          <h3><%= producto.title %> </h3>
          <h4><%= producto.autor.nameLastname%> </h4>
          <p>$<%= producto.price %> </p>
        </div>
      </article>
      <% }) %>
    </div>
</main>

<!-- ----footer ----->
<%-include('./partials/footer') %> 
<!-- ----footer---- -->

</body>
<!-- ----scripts ----->
<%-include('./partials/scripts') %> 
<!-- ----scripts---- -->
</html>