<!DOCTYPE html>
<html lang="es">

  <!-- ----head ----->
  <%-include('./partials/head') %> 
  <!-- ----head---- -->

<body class="novedades">


  <!-- ----header ----->
  <%-include('./partials/header') %> 
  <!-- ----header---- -->

<main>

    <h2><%= title %> </h2>
    
    <div class=contenedorNovedades>
      <% masVendidos.forEach(product => { %>
    <article class="libro">
        <a href="/products/detalle/<%= product.id %> "
          ><img src="/images/<%= product.cover %> " alt="<%= product.title %> "
        /></a>
        <div class="detalle">
          <h3><%= product.title %> </h3>
          <h4><%= product.author %> </h4>
          <p>$<%= product.price %> </p>
        </div>
      </article>
      <% }) %>
    </div>
</main>

<!-- ----footer ----->
<%-include('./partials/footer') %> 
<!-- ----footer---- -->

</body>
<!-- ----scripts ----->
<%-include('./partials/scripts') %> 
<!-- ----scripts---- -->
</html>