<!DOCTYPE html>
<html lang="es">

<!-- ----head ----->
<%-include('./partials/head') %>
  <!-- ----head---- -->

  <body class="novedades">


    <!-- ----header ----->
    <%-include('./partials/header') %>
      <!-- ----header---- -->

      <main>

        <h2>
          <%= title %>
        </h2>

        <div class=contenedorNovedades>
          <% productos.forEach(product=> { %>
            <article class=" libro libros-<%=product.genero.name%>">
              <a href="/products/detalle/<%= product.id %> "><img src="/images/<%= product.cover %> "
                  alt="<%= product.title %> " /></a>
              <div class="detalle">
                <h3>
                  <%= product.title %>
                </h3>
                <a href="/products/autor/<%= product.autor.nameLastname %> ">
                <h4>
                  <%= product.autor.nameLastname %>
                </h4>
                </a>
                <p>$<%= product.price %>
                </p>
                   <!-- estrellas dinamicas -->
                   <div class="estrella">
                    <% for( let i = 1; i <= product.estrella.quantity; i++ ) { %>
                      <i class="fas fa-star"></i>
                    <% } %>
                  </div>
              </div>
            </article>
            <% }) %>
        </div>
      </main>

      <!-- ----footer ----->
      <%-include('./partials/footer') %>
        <!-- ----footer---- -->

  </body>
  <!-- ----scripts ----->
  <%-include('./partials/scripts') %>
    <!-- ----scripts---- -->

</html>