<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')%>
<body>
    <!-- header -->
	<%-include('./partials/header')%>
    <!-- ------ -->

    <!-- modals/ventanas emergentes -->
    <%-include('./partials/modals')%>
    <!-- //modals/ventanas emergentes-->

    <!-- Aquí va el main -->
    <div class="page-head_agile_info_w3l">
		<div class="container">
			<h3>Crear un <span>producto </span></h3>
			
	    </div>
    </div>

    <div class="banner-bootom-w3-agileits">
        <div class="container" >
            <form action="/product/agregar_producto" method="post">
                <div>
                    <div class="editaragregar">                        
                        <div class="cargaimg marco">                            
                            <img src="/images/default.png" alt="addproducts">
                            <input type="file" name="imgproducts" id="products" multiple>
                        </div>

                        <div class="marco">
                            <!-- input nombre -->
                            <div>
                                <label for="nombre">Nombre: </label>
                                <input type="text" name="name" id="nombre">    
                            </div>
                            <div>
                                <!-- input descripcion -->
                                <label for="descripcion">Descripcion:</label>
                                <textarea name="description" id="descripcion" cols="100" rows="5" placeholder="Agregue descrición sobre el producto"></textarea>
                            </div>
                            <div class="grid-mitades flexible">
                                <!-- lado izquierdo -->
                                <div>
                                    <div>
                                    <!-- select genero -->
                                        <div>
                                            <label for="genero">Genero:</label>
                                            <select name="genero" id="genero">
                                                <option value=""></option>
                                                <option value="masculino">Masculino</option>
                                                <option value="femenino">Femenino</option>
                                            </select>                                        
                                        </div>
                                    </div>

                                    <!-- select categoria -->
                                    <div>
                                        <label for="categoria">Categoria:</label>
                                        <select name="category" id="categoria">
                                            <option value=""></option>
                                            <option value="chaquetas">Chaquetas</option>
                                            <option value="Polerones">Polerones</option>
                                            <option value="poleras">Poleras</option>
                                            <option value="parcas">Parcas</option>
                                            <option value="camisas">Camisas</option>
                                            <option value="casacas">Casacas</option>
                                            <option value="shorts">Shorts</option>
                                            <option value="pantalones">Pantalones</option>
                                        </select>
                                    </div>

                                    <div>
                                        <!-- input color -->
                                        <div>
                                            <label for="color">Color:</label>
                                            <select name="color" id="color" style="color :white">
                                                <option value="">Color:</option>
                                                <option value="blanco">  Blanco</option>
                                                <option value="negro">Negro</option>
                                                <option value="gris">Gris</option>
                                                <option value="amarillo">Amarillo</option>
                                                <option value="azul">Azul</option>
                                                <option value="rojo">Rojo</option>
                                                <option value="verde">Verde</option>
                                                <option value="morado">Morado</option>
                                                <option value="naranja">Naranja</option>
                                                <option value="marron">Marrón</option>
                                                <option value="rosado">Rosado</option>
                                                <option value="turquesa">Turquesa</option>
                                                <option value="beige">beige</option>
                                                
                                            </select>
                                        </div>
        
                                    </div>

                                    <p>Talla según corresponda</p>
                                    <div class="grid-mitades">
                                        <div>
                                            <label for="talla-superior">Para parte superior:</label>
                                            <select name="talla" id="talle-superior">
                                                <option value="s">S</option>
                                                <option value="m">M</option>
                                                <option value="l">L</option>
                                                <option value="xl">XL</option>
                                                <option value="xxl">XXL</option>
                                                <option value="xxxl">3XL</option>
                                            </select>
                                        </div>
                                        <div>
                                            <label for="talla-inferior">Para parte inferior</label>
                                            <select name="talla" id="talla-inferior">
                                                <option value="26">26</option>
                                                <option value="28">28</option>
                                                <option value="30">30</option>
                                                <option value="32">32</option>
                                                <option value="34">34</option>
                                                <option value="36">36</option>
                                                <option value="38">38</option>
                                                <option value="40">40</option>
                                                <option value="42">42</option>
                                                <option value="44">44</option>
                                                <option value="46">46</option>
                                                <option value="48">48</option>
                                                <option value="50">50</option>
                                                <option value="52">52</option>
                                                <option value="54">54</option>
                                                <option value="56">56</option>
                                                <option value="58">58</option>
                                            </select>

                                        </div>
                                    </div>


                                </div>


                                <!-- lado derecho -->
                                <div>
                                    <div>
                                        <strong for="disponible">¿Sigue disponible?</strong>
                                        <label for="disponiblesi">Si</label>
                                        <input type="radio" name="disponible" id="disponiblesi">
                                        <label for="disponibleno">No</label>
                                        <input type="radio" name="disponible" id="disponibleno">
                                    </div>
                                    <div class="flexible">
                                        <label for="precio">Precio:</label>
                                        <input type="number" name="price" id="precio">
                                    </div>
                                    <div>
                                        <label for="descuento">Descuento(%):</label>
                                        <input type="number" name="discount" id="descuento">
                                    </div>
                                </div>

                                

                            </div>                            
                            <div class="botonera">
                                <input type="submit" value="Crear producto">
                                <input type="reset" value="Volver a comenzar">
                                <button><a href="/users/administracion" style="list-style: none;">Cancelar</a></button>                             
                            </div>
                            
                        </div>

                    </div>

                </div>
                
            </form>
        </div>
    </div>

    <!-- Aquí cierra el main -->

<%- include('./partials/pre-footer') %>
<%- include('./partials/footer')%>    
<%- include('./partials/scripts')%> 
</body>
</html> 